<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BGEnd.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{195,396}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,396}}</string>
                <key>sourceSize</key>
                <string>{195,396}</string>
            </dict>
            <key>BGScore.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,556},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>BtAdd.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,535},{113,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,115}}</string>
                <key>sourceSize</key>
                <string>{113,115}</string>
            </dict>
            <key>BtCCompare.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,408},{131,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,40}}</string>
                <key>sourceSize</key>
                <string>{131,40}</string>
            </dict>
            <key>BtCompare.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,450},{113,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,115}}</string>
                <key>sourceSize</key>
                <string>{113,115}</string>
            </dict>
            <key>BtDefult.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,199},{210,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,80}}</string>
                <key>sourceSize</key>
                <string>{210,80}</string>
            </dict>
            <key>BtFollow.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,441},{113,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,115}}</string>
                <key>sourceSize</key>
                <string>{113,115}</string>
            </dict>
            <key>BtGiveUp.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,420},{113,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,115}}</string>
                <key>sourceSize</key>
                <string>{113,115}</string>
            </dict>
            <key>BtLook.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,216},{113,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,115}}</string>
                <key>sourceSize</key>
                <string>{113,115}</string>
            </dict>
            <key>BtOpenCard.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,199},{165,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,61}}</string>
                <key>sourceSize</key>
                <string>{165,61}</string>
            </dict>
            <key>BtReturn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,361},{210,78}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{210,78}}</string>
                <key>sourceSize</key>
                <string>{210,80}</string>
            </dict>
            <key>BtSure.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,281},{210,78}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{210,78}}</string>
                <key>sourceSize</key>
                <string>{210,80}</string>
            </dict>
            <key>Cards.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,61},{97,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,100}}</string>
                <key>sourceSize</key>
                <string>{97,100}</string>
            </dict>
            <key>ComWin.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,331},{143,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,87}}</string>
                <key>sourceSize</key>
                <string>{143,87}</string>
            </dict>
            <key>HeadTimer.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,262},{144,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,144}}</string>
                <key>sourceSize</key>
                <string>{144,144}</string>
            </dict>
            <key>LabAllScore.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,420},{82,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,38}}</string>
                <key>sourceSize</key>
                <string>{82,38}</string>
            </dict>
            <key>LabLostCnt.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,565},{65,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,27}}</string>
                <key>sourceSize</key>
                <string>{65,27}</string>
            </dict>
            <key>LabMaxScore.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,653},{65,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,27}}</string>
                <key>sourceSize</key>
                <string>{65,27}</string>
            </dict>
            <key>LabMinScore.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,592},{66,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,27}}</string>
                <key>sourceSize</key>
                <string>{66,27}</string>
            </dict>
            <key>LabWinCnt.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,624},{65,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,27}}</string>
                <key>sourceSize</key>
                <string>{65,27}</string>
            </dict>
            <key>SpScore.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,543},{24,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,26}}</string>
                <key>sourceSize</key>
                <string>{24,26}</string>
            </dict>
            <key>StateBanker.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,504},{37,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,37}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>Type-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,160},{94,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,54}}</string>
                <key>sourceSize</key>
                <string>{94,54}</string>
            </dict>
            <key>Type0.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,441},{93,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,50}}</string>
                <key>sourceSize</key>
                <string>{93,50}</string>
            </dict>
            <key>Type1.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,619},{74,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{74,34}}</string>
                <key>sourceSize</key>
                <string>{78,36}</string>
            </dict>
            <key>Type2.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,565},{74,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{74,32}}</string>
                <key>sourceSize</key>
                <string>{78,36}</string>
            </dict>
            <key>Type3.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,543},{74,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{74,34}}</string>
                <key>sourceSize</key>
                <string>{78,36}</string>
            </dict>
            <key>Type4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,590},{74,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{74,32}}</string>
                <key>sourceSize</key>
                <string>{78,36}</string>
            </dict>
            <key>Type5.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,529},{74,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{74,34}}</string>
                <key>sourceSize</key>
                <string>{78,36}</string>
            </dict>
            <key>Type6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,556},{74,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{74,32}}</string>
                <key>sourceSize</key>
                <string>{78,36}</string>
            </dict>
            <key>Type7.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,493},{74,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{74,34}}</string>
                <key>sourceSize</key>
                <string>{78,36}</string>
            </dict>
            <key>UserInfoBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,2},{110,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,57}}</string>
                <key>sourceSize</key>
                <string>{110,57}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Game62016.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d495c303b2dfb7a915fd380064faae75$</string>
            <key>textureFileName</key>
            <string>Game62016.png</string>
        </dict>
    </dict>
</plist>
