<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Bt-xiafen.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,903},{143,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,67}}</string>
                <key>sourceSize</key>
                <string>{143,67}</string>
            </dict>
            <key>Btbuqiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,1101},{242,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,81}}</string>
                <key>sourceSize</key>
                <string>{242,81}</string>
            </dict>
            <key>Btbuqie.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,1101},{242,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,81}}</string>
                <key>sourceSize</key>
                <string>{242,81}</string>
            </dict>
            <key>Btchonglai.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,820},{242,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,81}}</string>
                <key>sourceSize</key>
                <string>{242,81}</string>
            </dict>
            <key>Btkaipai.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,490},{242,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,81}}</string>
                <key>sourceSize</key>
                <string>{242,81}</string>
            </dict>
            <key>Btqiangzhuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,246},{242,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,81}}</string>
                <key>sourceSize</key>
                <string>{242,81}</string>
            </dict>
            <key>Btqieguo.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,2},{242,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,81}}</string>
                <key>sourceSize</key>
                <string>{242,81}</string>
            </dict>
            <key>Btqueding.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,1601},{244,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,84}}</string>
                <key>sourceSize</key>
                <string>{244,84}</string>
            </dict>
            <key>Btshengyu.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,2},{164,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,63}}</string>
                <key>sourceSize</key>
                <string>{164,63}</string>
            </dict>
            <key>Bttishi.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,1345},{233,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,83}}</string>
                <key>sourceSize</key>
                <string>{233,83}</string>
            </dict>
            <key>Btyaoqinghaoyou.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,1023},{244,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,84}}</string>
                <key>sourceSize</key>
                <string>{244,84}</string>
            </dict>
            <key>Btzhunbeiyouxi.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,1687},{242,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,81}}</string>
                <key>sourceSize</key>
                <string>{242,81}</string>
            </dict>
            <key>EndBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1284},{259,426}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,426}}</string>
                <key>sourceSize</key>
                <string>{259,426}</string>
            </dict>
            <key>Labbuqiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,392},{68,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,36}}</string>
                <key>sourceSize</key>
                <string>{68,36}</string>
            </dict>
            <key>Labqiang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,1062},{69,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,36}}</string>
                <key>sourceSize</key>
                <string>{69,36}</string>
            </dict>
            <key>Labqiang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,317},{73,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,36}}</string>
                <key>sourceSize</key>
                <string>{73,36}</string>
            </dict>
            <key>Labqiang3.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,1255},{74,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,36}}</string>
                <key>sourceSize</key>
                <string>{74,36}</string>
            </dict>
            <key>Labqiang4.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,1511},{74,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,36}}</string>
                <key>sourceSize</key>
                <string>{74,36}</string>
            </dict>
            <key>anbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,2},{1019,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1019,96}}</string>
                <key>sourceSize</key>
                <string>{1019,96}</string>
            </dict>
            <key>di.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1712},{388,288}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{388,288}}</string>
                <key>sourceSize</key>
                <string>{388,288}</string>
            </dict>
            <key>djsBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,1931},{117,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,67}}</string>
                <key>sourceSize</key>
                <string>{117,67}</string>
            </dict>
            <key>golddi.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,1687},{100,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,26}}</string>
                <key>sourceSize</key>
                <string>{100,26}</string>
            </dict>
            <key>guo.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,1109},{195,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,127}}</string>
                <key>sourceSize</key>
                <string>{195,127}</string>
            </dict>
            <key>guolia.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,1345},{164,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,63}}</string>
                <key>sourceSize</key>
                <string>{164,63}</string>
            </dict>
            <key>guosa.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,1345},{164,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,63}}</string>
                <key>sourceSize</key>
                <string>{164,63}</string>
            </dict>
            <key>guotou.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,997},{164,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,63}}</string>
                <key>sourceSize</key>
                <string>{164,63}</string>
            </dict>
            <key>headkuang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,903},{92,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,144}}</string>
                <key>sourceSize</key>
                <string>{92,144}</string>
            </dict>
            <key>hei.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1280,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,35}}</string>
                <key>sourceSize</key>
                <string>{1280,35}</string>
            </dict>
            <key>huakuai.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,462},{65,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,66}}</string>
                <key>sourceSize</key>
                <string>{65,66}</string>
            </dict>
            <key>jinbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,1109},{25,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,26}}</string>
                <key>sourceSize</key>
                <string>{25,26}</string>
            </dict>
            <key>labd1.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,168},{147,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,37}}</string>
                <key>sourceSize</key>
                <string>{147,37}</string>
            </dict>
            <key>labd2.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,1100},{153,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,37}}</string>
                <key>sourceSize</key>
                <string>{153,37}</string>
            </dict>
            <key>labd3.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,1062},{153,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,37}}</string>
                <key>sourceSize</key>
                <string>{153,37}</string>
            </dict>
            <key>tiaobg.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,1109},{490,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{490,30}}</string>
                <key>sourceSize</key>
                <string>{490,30}</string>
            </dict>
            <key>tiaoq.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2002},{490,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{490,30}}</string>
                <key>sourceSize</key>
                <string>{490,30}</string>
            </dict>
            <key>touxiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,1511},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,76}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>xiazhu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,972},{146,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,43}}</string>
                <key>sourceSize</key>
                <string>{146,43}</string>
            </dict>
            <key>xiazhu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,1238},{43,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,153}}</string>
                <key>sourceSize</key>
                <string>{43,153}</string>
            </dict>
            <key>xinxidi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,734},{174,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,84}}</string>
                <key>sourceSize</key>
                <string>{174,84}</string>
            </dict>
            <key>zhuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,1238},{45,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,34}}</string>
                <key>sourceSize</key>
                <string>{45,34}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Game_52081.png</string>
            <key>size</key>
            <string>{512,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fb300b5704173cdd811d895f8941df11$</string>
            <key>textureFileName</key>
            <string>Game_52081.png</string>
        </dict>
    </dict>
</plist>
