<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>AniLight.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,1082},{83,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,68}}</string>
                <key>sourceSize</key>
                <string>{83,68}</string>
            </dict>
            <key>BGBT.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,701},{554,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{554,178}}</string>
                <key>sourceSize</key>
                <string>{554,178}</string>
            </dict>
            <key>BGClub.png</key>
            <dict>
                <key>frame</key>
                <string>{{1648,151},{548,391}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{548,391}}</string>
                <key>sourceSize</key>
                <string>{548,391}</string>
            </dict>
            <key>BGClub2.png</key>
            <dict>
                <key>frame</key>
                <string>{{847,1246},{78,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,40}}</string>
                <key>sourceSize</key>
                <string>{78,40}</string>
            </dict>
            <key>BottomBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1664,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1664,114}}</string>
                <key>sourceSize</key>
                <string>{1664,114}</string>
            </dict>
            <key>BtActivity.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,1158},{122,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,93}}</string>
                <key>sourceSize</key>
                <string>{122,93}</string>
            </dict>
            <key>BtBindPhone.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,1257},{108,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,61}}</string>
                <key>sourceSize</key>
                <string>{108,61}</string>
            </dict>
            <key>BtCallBack.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,1253},{52,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,63}}</string>
                <key>sourceSize</key>
                <string>{52,63}</string>
            </dict>
            <key>BtClub.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,245},{349,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{349,146}}</string>
                <key>sourceSize</key>
                <string>{349,146}</string>
            </dict>
            <key>BtClub_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{737,245},{206,245}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,245}}</string>
                <key>sourceSize</key>
                <string>{206,245}</string>
            </dict>
            <key>BtCreatRoom.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,245},{195,435}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,435}}</string>
                <key>sourceSize</key>
                <string>{195,435}</string>
            </dict>
            <key>BtCreatRoom_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,1253},{53,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,56}}</string>
                <key>sourceSize</key>
                <string>{53,56}</string>
            </dict>
            <key>BtCreatRoom_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,1254},{41,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,42}}</string>
                <key>sourceSize</key>
                <string>{41,42}</string>
            </dict>
            <key>BtCreatRoom_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,1550},{217,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,211}}</string>
                <key>sourceSize</key>
                <string>{217,211}</string>
            </dict>
            <key>BtCreateClub.png</key>
            <dict>
                <key>frame</key>
                <string>{{1668,2},{350,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,147}}</string>
                <key>sourceSize</key>
                <string>{350,147}</string>
            </dict>
            <key>BtCreateClub_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,1311},{207,237}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,237}}</string>
                <key>sourceSize</key>
                <string>{207,237}</string>
            </dict>
            <key>BtCreateClub_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{739,1311},{211,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,149}}</string>
                <key>sourceSize</key>
                <string>{211,149}</string>
            </dict>
            <key>BtExit.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,595},{101,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,101}}</string>
                <key>sourceSize</key>
                <string>{101,101}</string>
            </dict>
            <key>BtFriendLink.png</key>
            <dict>
                <key>frame</key>
                <string>{{813,1152},{92,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,89}}</string>
                <key>sourceSize</key>
                <string>{92,89}</string>
            </dict>
            <key>BtGetGold.png</key>
            <dict>
                <key>frame</key>
                <string>{{805,1254},{41,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,40}}</string>
                <key>sourceSize</key>
                <string>{41,40}</string>
            </dict>
            <key>BtInvite.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,878},{92,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,39}}</string>
                <key>sourceSize</key>
                <string>{92,39}</string>
            </dict>
            <key>BtInviteCode.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,1158},{100,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,93}}</string>
                <key>sourceSize</key>
                <string>{100,93}</string>
            </dict>
            <key>BtJoin.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,1910},{127,381}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,381}}</string>
                <key>sourceSize</key>
                <string>{127,381}</string>
            </dict>
            <key>BtJoinClub.png</key>
            <dict>
                <key>frame</key>
                <string>{{739,1769},{180,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,139}}</string>
                <key>sourceSize</key>
                <string>{180,139}</string>
            </dict>
            <key>BtJoin_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,701},{175,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,149}}</string>
                <key>sourceSize</key>
                <string>{175,149}</string>
            </dict>
            <key>BtJoin_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,1158},{151,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,150}}</string>
                <key>sourceSize</key>
                <string>{151,150}</string>
            </dict>
            <key>BtMail.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,1082},{90,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,70}}</string>
                <key>sourceSize</key>
                <string>{90,70}</string>
            </dict>
            <key>BtMenu.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,1780},{108,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,72}}</string>
                <key>sourceSize</key>
                <string>{108,72}</string>
            </dict>
            <key>BtMoreStrong.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,1550},{228,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,154}}</string>
                <key>sourceSize</key>
                <string>{228,154}</string>
            </dict>
            <key>BtMoreStrong_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1910},{134,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,106}}</string>
                <key>sourceSize</key>
                <string>{134,106}</string>
            </dict>
            <key>BtMoreStrong_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,534},{163,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,146}}</string>
                <key>sourceSize</key>
                <string>{163,146}</string>
            </dict>
            <key>BtMoreStrong_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,1253},{60,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,37}}</string>
                <key>sourceSize</key>
                <string>{60,37}</string>
            </dict>
            <key>BtNotice.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,980},{100,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,92}}</string>
                <key>sourceSize</key>
                <string>{100,92}</string>
            </dict>
            <key>BtRealName.png</key>
            <dict>
                <key>frame</key>
                <string>{{849,878},{86,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,76}}</string>
                <key>sourceSize</key>
                <string>{86,76}</string>
            </dict>
            <key>BtRecord.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,878},{100,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,92}}</string>
                <key>sourceSize</key>
                <string>{100,92}</string>
            </dict>
            <key>BtRoomList.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,1910},{128,380}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,380}}</string>
                <key>sourceSize</key>
                <string>{128,380}</string>
            </dict>
            <key>BtRules.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,492},{101,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,101}}</string>
                <key>sourceSize</key>
                <string>{101,101}</string>
            </dict>
            <key>BtService.png</key>
            <dict>
                <key>frame</key>
                <string>{{875,1910},{101,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,101}}</string>
                <key>sourceSize</key>
                <string>{101,101}</string>
            </dict>
            <key>BtSet.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,1780},{101,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,101}}</string>
                <key>sourceSize</key>
                <string>{101,101}</string>
            </dict>
            <key>BtShare.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,596},{100,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,102}}</string>
                <key>sourceSize</key>
                <string>{100,102}</string>
            </dict>
            <key>BtSign.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,1158},{94,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,70}}</string>
                <key>sourceSize</key>
                <string>{94,70}</string>
            </dict>
            <key>BtgameDT.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,245},{195,435}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,435}}</string>
                <key>sourceSize</key>
                <string>{195,435}</string>
            </dict>
            <key>BtxingyunZP.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,1254},{109,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,65}}</string>
                <key>sourceSize</key>
                <string>{109,65}</string>
            </dict>
            <key>ClubList.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,1780},{109,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,30}}</string>
                <key>sourceSize</key>
                <string>{109,30}</string>
            </dict>
            <key>ClubList_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,245},{253,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,48}}</string>
                <key>sourceSize</key>
                <string>{253,48}</string>
            </dict>
            <key>FaceBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{865,701},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,76}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>FaceBG1.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,966},{83,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,83}}</string>
                <key>sourceSize</key>
                <string>{83,83}</string>
            </dict>
            <key>FaceDef.png</key>
            <dict>
                <key>frame</key>
                <string>{{969,1051},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,76}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>FaceErr.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,972},{86,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,86}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>FaceMark.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,1148},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>FirstGift.png</key>
            <dict>
                <key>frame</key>
                <string>{{891,1060},{86,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,76}}</string>
                <key>sourceSize</key>
                <string>{86,76}</string>
            </dict>
            <key>GoldBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,1273},{174,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,43}}</string>
                <key>sourceSize</key>
                <string>{174,43}</string>
            </dict>
            <key>InfoBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,492},{173,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,70}}</string>
                <key>sourceSize</key>
                <string>{173,70}</string>
            </dict>
            <key>ListBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,596},{100,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,102}}</string>
                <key>sourceSize</key>
                <string>{100,102}</string>
            </dict>
            <key>ListItem.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,1154},{98,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,49}}</string>
                <key>sourceSize</key>
                <string>{98,49}</string>
            </dict>
            <key>Man.png</key>
            <dict>
                <key>frame</key>
                <string>{{865,818},{37,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,37}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>MenuBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,701},{570,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{570,92}}</string>
                <key>sourceSize</key>
                <string>{570,92}</string>
            </dict>
            <key>NoClub.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,701},{455,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{455,199}}</string>
                <key>sourceSize</key>
                <string>{455,199}</string>
            </dict>
            <key>NoRoom.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,701},{455,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{455,199}}</string>
                <key>sourceSize</key>
                <string>{455,199}</string>
            </dict>
            <key>NoticeBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,701},{618,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{618,34}}</string>
                <key>sourceSize</key>
                <string>{618,34}</string>
            </dict>
            <key>RoomList.png</key>
            <dict>
                <key>frame</key>
                <string>{{637,500},{111,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,32}}</string>
                <key>sourceSize</key>
                <string>{111,32}</string>
            </dict>
            <key>RoomList_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{637,245},{253,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,48}}</string>
                <key>sourceSize</key>
                <string>{253,48}</string>
            </dict>
            <key>Woman.png</key>
            <dict>
                <key>frame</key>
                <string>{{865,779},{37,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,37}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>id.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,2013},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,31}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,245},{287,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{287,91}}</string>
                <key>sourceSize</key>
                <string>{287,91}</string>
            </dict>
            <key>nicheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{875,2013},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,31}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>people.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1321},{526,587}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{526,587}}</string>
                <key>sourceSize</key>
                <string>{526,587}</string>
            </dict>
            <key>point.png</key>
            <dict>
                <key>frame</key>
                <string>{{941,2013},{30,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,29}}</string>
                <key>sourceSize</key>
                <string>{30,29}</string>
            </dict>
            <key>spCard.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,534},{51,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,42}}</string>
                <key>sourceSize</key>
                <string>{51,42}</string>
            </dict>
            <key>topBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,118},{1644,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1644,125}}</string>
                <key>sourceSize</key>
                <string>{1644,125}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>LobbyBasics.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:75d4ee4d8f2bb3da0384f362fd63d8a7$</string>
            <key>textureFileName</key>
            <string>LobbyBasics.png</string>
        </dict>
    </dict>
</plist>
