<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bei.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,2},{103,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,33}}</string>
                <key>sourceSize</key>
                <string>{103,33}</string>
            </dict>
            <key>bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{159,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,156}}</string>
                <key>sourceSize</key>
                <string>{159,156}</string>
            </dict>
            <key>dong.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,276},{121,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,40}}</string>
                <key>sourceSize</key>
                <string>{121,40}</string>
            </dict>
            <key>lbei.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,160},{141,56}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{141,56}}</string>
                <key>sourceSize</key>
                <string>{159,78}</string>
            </dict>
            <key>ldong.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,145},{141,56}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{141,56}}</string>
                <key>sourceSize</key>
                <string>{159,78}</string>
            </dict>
            <key>lnan.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,2},{141,56}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{141,56}}</string>
                <key>sourceSize</key>
                <string>{159,78}</string>
            </dict>
            <key>lxi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,218},{139,56}}</string>
                <key>offset</key>
                <string>{1,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{139,56}}</string>
                <key>sourceSize</key>
                <string>{159,78}</string>
            </dict>
            <key>nan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,318},{109,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,40}}</string>
                <key>sourceSize</key>
                <string>{109,40}</string>
            </dict>
            <key>xi.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,276},{103,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,35}}</string>
                <key>sourceSize</key>
                <string>{103,35}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>CenterRect.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f383c4a3c3f034111dc22844226828ab$</string>
            <key>textureFileName</key>
            <string>CenterRect.png</string>
        </dict>
    </dict>
</plist>
