<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ClockBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,287},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>bei.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,210},{108,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,35}}</string>
                <key>sourceSize</key>
                <string>{108,35}</string>
            </dict>
            <key>bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{170,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,169}}</string>
                <key>sourceSize</key>
                <string>{170,169}</string>
            </dict>
            <key>dong.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,171},{108,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,38}}</string>
                <key>sourceSize</key>
                <string>{108,38}</string>
            </dict>
            <key>lbei.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,280},{104,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,75}}</string>
                <key>sourceSize</key>
                <string>{104,75}</string>
            </dict>
            <key>ldong.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,211},{104,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,75}}</string>
                <key>sourceSize</key>
                <string>{104,75}</string>
            </dict>
            <key>lnan.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,106},{104,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,77}}</string>
                <key>sourceSize</key>
                <string>{104,77}</string>
            </dict>
            <key>lxi.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,1},{104,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,79}}</string>
                <key>sourceSize</key>
                <string>{104,79}</string>
            </dict>
            <key>nan.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,171},{109,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,38}}</string>
                <key>sourceSize</key>
                <string>{109,38}</string>
            </dict>
            <key>xi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,246},{107,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,33}}</string>
                <key>sourceSize</key>
                <string>{107,33}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>CenterCircle.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2872da7ff3f40cc785bac5ff41b7f623$</string>
            <key>textureFileName</key>
            <string>CenterCircle.png</string>
        </dict>
    </dict>
</plist>
