<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BGScore.png</key>
            <dict>
                <key>frame</key>
                <string>{{739,81},{350,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,228}}</string>
                <key>sourceSize</key>
                <string>{350,228}</string>
            </dict>
            <key>BGUser.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,800},{103,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,140}}</string>
                <key>sourceSize</key>
                <string>{103,140}</string>
            </dict>
            <key>BGbaipai.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{735,573}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{735,573}}</string>
                <key>sourceSize</key>
                <string>{735,573}</string>
            </dict>
            <key>BtBiPinZhongLu.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,801},{214,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,79}}</string>
                <key>sourceSize</key>
                <string>{214,79}</string>
            </dict>
            <key>BtChat.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,715},{74,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,75}}</string>
                <key>sourceSize</key>
                <string>{74,75}</string>
            </dict>
            <key>BtFalse.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,585},{223,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{223,74}}</string>
                <key>sourceSize</key>
                <string>{223,74}</string>
            </dict>
            <key>BtFirstStart.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,585},{213,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,80}}</string>
                <key>sourceSize</key>
                <string>{213,80}</string>
            </dict>
            <key>BtGPS.png</key>
            <dict>
                <key>frame</key>
                <string>{{973,2},{43,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,45}}</string>
                <key>sourceSize</key>
                <string>{43,45}</string>
            </dict>
            <key>BtInvitation.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,585},{214,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,79}}</string>
                <key>sourceSize</key>
                <string>{214,79}</string>
            </dict>
            <key>BtLookOnUser.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,647},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>BtNoBiPin.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,801},{214,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,79}}</string>
                <key>sourceSize</key>
                <string>{214,79}</string>
            </dict>
            <key>BtOut.png</key>
            <dict>
                <key>frame</key>
                <string>{{969,83},{88,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,51}}</string>
                <key>sourceSize</key>
                <string>{88,51}</string>
            </dict>
            <key>BtSet.png</key>
            <dict>
                <key>frame</key>
                <string>{{661,577},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>BtSure.png</key>
            <dict>
                <key>frame</key>
                <string>{{739,509},{223,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{223,74}}</string>
                <key>sourceSize</key>
                <string>{223,74}</string>
            </dict>
            <key>BtVoice.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,942},{74,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,77}}</string>
                <key>sourceSize</key>
                <string>{74,77}</string>
            </dict>
            <key>BtZhunBei.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,585},{214,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,79}}</string>
                <key>sourceSize</key>
                <string>{214,79}</string>
            </dict>
            <key>Btchongxuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{739,2},{232,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,77}}</string>
                <key>sourceSize</key>
                <string>{232,77}</string>
            </dict>
            <key>clock.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,715},{83,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,92}}</string>
                <key>sourceSize</key>
                <string>{83,92}</string>
            </dict>
            <key>daxiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,577},{127,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,68}}</string>
                <key>sourceSize</key>
                <string>{127,68}</string>
            </dict>
            <key>icon-dayingjia.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,810},{145,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,87}}</string>
                <key>sourceSize</key>
                <string>{145,87}</string>
            </dict>
            <key>icon-zhuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{973,47},{45,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,34}}</string>
                <key>sourceSize</key>
                <string>{45,34}</string>
            </dict>
            <key>lipaizhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{969,247},{99,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,32}}</string>
                <key>sourceSize</key>
                <string>{99,32}</string>
            </dict>
            <key>ok_.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,942},{80,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,97}}</string>
                <key>sourceSize</key>
                <string>{80,97}</string>
            </dict>
            <key>qipai.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,800},{128,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,68}}</string>
                <key>sourceSize</key>
                <string>{128,68}</string>
            </dict>
            <key>queding.png</key>
            <dict>
                <key>frame</key>
                <string>{{739,433},{223,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{223,74}}</string>
                <key>sourceSize</key>
                <string>{223,74}</string>
            </dict>
            <key>santiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,585},{127,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,68}}</string>
                <key>sourceSize</key>
                <string>{127,68}</string>
            </dict>
            <key>sp_lipin.png</key>
            <dict>
                <key>frame</key>
                <string>{{969,213},{32,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,33}}</string>
                <key>sourceSize</key>
                <string>{32,33}</string>
            </dict>
            <key>tonghua.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,585},{128,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,68}}</string>
                <key>sourceSize</key>
                <string>{128,68}</string>
            </dict>
            <key>tonghuashun.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,585},{128,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,68}}</string>
                <key>sourceSize</key>
                <string>{128,68}</string>
            </dict>
            <key>xi.png</key>
            <dict>
                <key>frame</key>
                <string>{{969,173},{38,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,42}}</string>
                <key>sourceSize</key>
                <string>{38,42}</string>
            </dict>
            <key>yiwancheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{969,348},{82,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,32}}</string>
                <key>sourceSize</key>
                <string>{82,32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Game501.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4461838347857d9738b8c7b4e1f5857a$</string>
            <key>textureFileName</key>
            <string>Game501.png</string>
        </dict>
    </dict>
</plist>
