<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>EndBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,746},{259,426}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,426}}</string>
                <key>sourceSize</key>
                <string>{259,426}</string>
            </dict>
            <key>Light.png</key>
            <dict>
                <key>frame</key>
                <string>{{1296,810},{98,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,128}}</string>
                <key>sourceSize</key>
                <string>{98,128}</string>
            </dict>
            <key>LittleBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,698},{1166,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1166,110}}</string>
                <key>sourceSize</key>
                <string>{1166,110}</string>
            </dict>
            <key>Sp_prepare.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,461},{80,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,97}}</string>
                <key>sourceSize</key>
                <string>{80,97}</string>
            </dict>
            <key>T-paixingtishi.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,703},{310,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{310,85}}</string>
                <key>sourceSize</key>
                <string>{310,85}</string>
            </dict>
            <key>duiz1.png</key>
            <dict>
                <key>frame</key>
                <string>{{951,810},{156,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,73}}</string>
                <key>sourceSize</key>
                <string>{156,73}</string>
            </dict>
            <key>dun_touch1.png</key>
            <dict>
                <key>frame</key>
                <string>{{761,701},{297,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{297,113}}</string>
                <key>sourceSize</key>
                <string>{297,113}</string>
            </dict>
            <key>dun_touch2.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,2},{457,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{457,114}}</string>
                <key>sourceSize</key>
                <string>{457,114}</string>
            </dict>
            <key>dun_touch3.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,2},{541,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{541,178}}</string>
                <key>sourceSize</key>
                <string>{541,178}</string>
            </dict>
            <key>fangzhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1026,962},{59,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,69}}</string>
                <key>sourceSize</key>
                <string>{59,69}</string>
            </dict>
            <key>game_zuijiapaixingAN.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,2},{233,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,83}}</string>
                <key>sourceSize</key>
                <string>{233,83}</string>
            </dict>
            <key>guanbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1097,962},{64,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,59}}</string>
                <key>sourceSize</key>
                <string>{64,59}</string>
            </dict>
            <key>headBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{1124,810},{91,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,134}}</string>
                <key>sourceSize</key>
                <string>{91,134}</string>
            </dict>
            <key>hul1.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,810},{156,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,73}}</string>
                <key>sourceSize</key>
                <string>{156,73}</string>
            </dict>
            <key>liangdui1.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,540},{156,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,73}}</string>
                <key>sourceSize</key>
                <string>{156,73}</string>
            </dict>
            <key>little.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,545},{188,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,45}}</string>
                <key>sourceSize</key>
                <string>{188,45}</string>
            </dict>
            <key>peipaidi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{742,430}}</string>
                <key>offset</key>
                <string>{-28,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,22},{742,430}}</string>
                <key>sourceSize</key>
                <string>{866,462}</string>
            </dict>
            <key>quanbuquxiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1743,810},{233,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,83}}</string>
                <key>sourceSize</key>
                <string>{233,83}</string>
            </dict>
            <key>quedingchupai.png</key>
            <dict>
                <key>frame</key>
                <string>{{1653,898},{233,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,83}}</string>
                <key>sourceSize</key>
                <string>{233,83}</string>
            </dict>
            <key>santiao1.png</key>
            <dict>
                <key>frame</key>
                <string>{{837,540},{156,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,73}}</string>
                <key>sourceSize</key>
                <string>{156,73}</string>
            </dict>
            <key>share.png</key>
            <dict>
                <key>frame</key>
                <string>{{1486,810},{255,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,86}}</string>
                <key>sourceSize</key>
                <string>{255,86}</string>
            </dict>
            <key>suanfenBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,746},{242,259}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,259}}</string>
                <key>sourceSize</key>
                <string>{242,259}</string>
            </dict>
            <key>sunzi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,540},{156,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,73}}</string>
                <key>sourceSize</key>
                <string>{156,73}</string>
            </dict>
            <key>teshupaixing.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,545},{54,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,170}}</string>
                <key>sourceSize</key>
                <string>{54,170}</string>
            </dict>
            <key>tiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1026,810},{150,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,96}}</string>
                <key>sourceSize</key>
                <string>{150,96}</string>
            </dict>
            <key>tiezhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,543},{156,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,73}}</string>
                <key>sourceSize</key>
                <string>{156,73}</string>
            </dict>
            <key>tonghua1.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,545},{156,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,73}}</string>
                <key>sourceSize</key>
                <string>{156,73}</string>
            </dict>
            <key>tonghuas1.png</key>
            <dict>
                <key>frame</key>
                <string>{{537,545},{156,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,73}}</string>
                <key>sourceSize</key>
                <string>{156,73}</string>
            </dict>
            <key>wu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1217,810},{133,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,77}}</string>
                <key>sourceSize</key>
                <string>{133,77}</string>
            </dict>
            <key>xiaojiesuan_touxiangkuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1396,810},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,88}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>xinxit.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,968},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>zhuangjia.png</key>
            <dict>
                <key>frame</key>
                <string>{{537,703},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,31}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>zhunbei.png</key>
            <dict>
                <key>frame</key>
                <string>{{1396,900},{255,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,86}}</string>
                <key>sourceSize</key>
                <string>{255,86}</string>
            </dict>
            <key>zongchengji.png</key>
            <dict>
                <key>frame</key>
                <string>{{713,461},{226,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,77}}</string>
                <key>sourceSize</key>
                <string>{226,77}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Game500.png</string>
            <key>size</key>
            <string>{2048,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6b6ba7be5d523413466c76a561bb062c$</string>
            <key>textureFileName</key>
            <string>Game500.png</string>
        </dict>
    </dict>
</plist>
