<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BackLeft0.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,688},{116,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,89}}</string>
                <key>sourceSize</key>
                <string>{116,89}</string>
            </dict>
            <key>BackLeft1.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,688},{116,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,89}}</string>
                <key>sourceSize</key>
                <string>{116,89}</string>
            </dict>
            <key>BackLeft2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,846},{116,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,89}}</string>
                <key>sourceSize</key>
                <string>{116,89}</string>
            </dict>
            <key>BackLeft3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,728},{116,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,89}}</string>
                <key>sourceSize</key>
                <string>{116,89}</string>
            </dict>
            <key>BackRight0.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,637},{116,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,89}}</string>
                <key>sourceSize</key>
                <string>{116,89}</string>
            </dict>
            <key>BackRight1.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,597},{116,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,89}}</string>
                <key>sourceSize</key>
                <string>{116,89}</string>
            </dict>
            <key>BackRight2.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,597},{116,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,89}}</string>
                <key>sourceSize</key>
                <string>{116,89}</string>
            </dict>
            <key>BackRight3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,597},{116,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,89}}</string>
                <key>sourceSize</key>
                <string>{116,89}</string>
            </dict>
            <key>BackTB0.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,226},{90,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,123}}</string>
                <key>sourceSize</key>
                <string>{90,123}</string>
            </dict>
            <key>BackTB1.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,186},{90,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,123}}</string>
                <key>sourceSize</key>
                <string>{90,123}</string>
            </dict>
            <key>BackTB2.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,186},{90,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,123}}</string>
                <key>sourceSize</key>
                <string>{90,123}</string>
            </dict>
            <key>BackTB3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,186},{90,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,123}}</string>
                <key>sourceSize</key>
                <string>{90,123}</string>
            </dict>
            <key>ShowLR0.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,546},{116,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,89}}</string>
                <key>sourceSize</key>
                <string>{116,89}</string>
            </dict>
            <key>ShowLR1.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,506},{116,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,89}}</string>
                <key>sourceSize</key>
                <string>{116,89}</string>
            </dict>
            <key>ShowLR2.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,506},{116,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,89}}</string>
                <key>sourceSize</key>
                <string>{116,89}</string>
            </dict>
            <key>ShowLR3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,506},{116,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,89}}</string>
                <key>sourceSize</key>
                <string>{116,89}</string>
            </dict>
            <key>ShowTB0.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,2},{90,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,130}}</string>
                <key>sourceSize</key>
                <string>{90,130}</string>
            </dict>
            <key>ShowTB1.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,2},{90,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,130}}</string>
                <key>sourceSize</key>
                <string>{90,130}</string>
            </dict>
            <key>ShowTB2.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,2},{90,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,130}}</string>
                <key>sourceSize</key>
                <string>{90,130}</string>
            </dict>
            <key>ShowTB3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{90,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,130}}</string>
                <key>sourceSize</key>
                <string>{90,130}</string>
            </dict>
            <key>StandBottom0.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,454},{90,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,122}}</string>
                <key>sourceSize</key>
                <string>{90,122}</string>
            </dict>
            <key>StandBottom1.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,414},{90,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,122}}</string>
                <key>sourceSize</key>
                <string>{90,122}</string>
            </dict>
            <key>StandBottom2.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,414},{90,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,122}}</string>
                <key>sourceSize</key>
                <string>{90,122}</string>
            </dict>
            <key>StandBottom3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,414},{90,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,122}}</string>
                <key>sourceSize</key>
                <string>{90,122}</string>
            </dict>
            <key>StandLeft0.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,386},{66,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,123}}</string>
                <key>sourceSize</key>
                <string>{66,123}</string>
            </dict>
            <key>StandLeft1.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,346},{66,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,123}}</string>
                <key>sourceSize</key>
                <string>{66,123}</string>
            </dict>
            <key>StandLeft2.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,346},{66,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,123}}</string>
                <key>sourceSize</key>
                <string>{66,123}</string>
            </dict>
            <key>StandLeft3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,346},{66,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,123}}</string>
                <key>sourceSize</key>
                <string>{66,123}</string>
            </dict>
            <key>StandRight0.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,318},{66,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,123}}</string>
                <key>sourceSize</key>
                <string>{66,123}</string>
            </dict>
            <key>StandRight1.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,278},{66,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,123}}</string>
                <key>sourceSize</key>
                <string>{66,123}</string>
            </dict>
            <key>StandRight2.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,278},{66,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,123}}</string>
                <key>sourceSize</key>
                <string>{66,123}</string>
            </dict>
            <key>StandRight3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,278},{66,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,123}}</string>
                <key>sourceSize</key>
                <string>{66,123}</string>
            </dict>
            <key>StandTop0.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,134},{90,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,123}}</string>
                <key>sourceSize</key>
                <string>{90,123}</string>
            </dict>
            <key>StandTop1.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,94},{90,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,123}}</string>
                <key>sourceSize</key>
                <string>{90,123}</string>
            </dict>
            <key>StandTop2.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,94},{90,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,123}}</string>
                <key>sourceSize</key>
                <string>{90,123}</string>
            </dict>
            <key>StandTop3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,94},{90,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,123}}</string>
                <key>sourceSize</key>
                <string>{90,123}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>CardBack.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9a7b8f3cb4269c72ad15645ac020ab99$</string>
            <key>textureFileName</key>
            <string>CardBack.png</string>
        </dict>
    </dict>
</plist>
