<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>MHMJchawz.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,340},{115,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,121}}</string>
                <key>sourceSize</key>
                <string>{115,121}</string>
            </dict>
            <key>WJMJhuifangshouzhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,95},{64,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{64,94}}</string>
                <key>sourceSize</key>
                <string>{66,94}</string>
            </dict>
            <key>heidi.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,191},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>paiAN.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{208,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,91}}</string>
                <key>sourceSize</key>
                <string>{208,91}</string>
            </dict>
            <key>paiANGangBu.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,123},{123,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,119}}</string>
                <key>sourceSize</key>
                <string>{123,119}</string>
            </dict>
            <key>paiANHaiDi.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,340},{112,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,119}}</string>
                <key>sourceSize</key>
                <string>{112,119}</string>
            </dict>
            <key>paiANMenhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,95},{127,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,123}}</string>
                <key>sourceSize</key>
                <string>{127,123}</string>
            </dict>
            <key>paiANchi.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,2},{135,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,119}}</string>
                <key>sourceSize</key>
                <string>{135,119}</string>
            </dict>
            <key>paiANgang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,220},{123,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,118}}</string>
                <key>sourceSize</key>
                <string>{123,118}</string>
            </dict>
            <key>paiANguo.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,253},{83,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,84}}</string>
                <key>sourceSize</key>
                <string>{83,84}</string>
            </dict>
            <key>paiANhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,2},{127,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,123}}</string>
                <key>sourceSize</key>
                <string>{127,123}</string>
            </dict>
            <key>paiANting.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,127},{117,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,117}}</string>
                <key>sourceSize</key>
                <string>{117,117}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>GameMJBasics.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3ff7b770aa47b467feb6f6815a1befca$</string>
            <key>textureFileName</key>
            <string>GameMJBasics.png</string>
        </dict>
    </dict>
</plist>
