<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,855},{87,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,114}}</string>
                <key>sourceSize</key>
                <string>{87,114}</string>
            </dict>
            <key>17.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,767},{87,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,114}}</string>
                <key>sourceSize</key>
                <string>{87,114}</string>
            </dict>
            <key>18.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,865},{87,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,114}}</string>
                <key>sourceSize</key>
                <string>{87,114}</string>
            </dict>
            <key>19.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,865},{87,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,114}}</string>
                <key>sourceSize</key>
                <string>{87,114}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,865},{87,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,114}}</string>
                <key>sourceSize</key>
                <string>{87,114}</string>
            </dict>
            <key>20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,931},{87,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,114}}</string>
                <key>sourceSize</key>
                <string>{87,114}</string>
            </dict>
            <key>21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,843},{87,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,114}}</string>
                <key>sourceSize</key>
                <string>{87,114}</string>
            </dict>
            <key>22.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,777},{87,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,114}}</string>
                <key>sourceSize</key>
                <string>{87,114}</string>
            </dict>
            <key>23.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,710},{87,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,114}}</string>
                <key>sourceSize</key>
                <string>{87,114}</string>
            </dict>
            <key>24.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,679},{87,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,114}}</string>
                <key>sourceSize</key>
                <string>{87,114}</string>
            </dict>
            <key>25.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,755},{87,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,114}}</string>
                <key>sourceSize</key>
                <string>{87,114}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,689},{87,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,114}}</string>
                <key>sourceSize</key>
                <string>{87,114}</string>
            </dict>
            <key>33.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,622},{87,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,114}}</string>
                <key>sourceSize</key>
                <string>{87,114}</string>
            </dict>
            <key>34.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,591},{87,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,114}}</string>
                <key>sourceSize</key>
                <string>{87,114}</string>
            </dict>
            <key>35.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,667},{87,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,114}}</string>
                <key>sourceSize</key>
                <string>{87,114}</string>
            </dict>
            <key>36.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,601},{87,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,114}}</string>
                <key>sourceSize</key>
                <string>{87,114}</string>
            </dict>
            <key>37.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,534},{87,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,114}}</string>
                <key>sourceSize</key>
                <string>{87,114}</string>
            </dict>
            <key>38.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,503},{87,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,114}}</string>
                <key>sourceSize</key>
                <string>{87,114}</string>
            </dict>
            <key>39.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,579},{87,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,114}}</string>
                <key>sourceSize</key>
                <string>{87,114}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,513},{87,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,114}}</string>
                <key>sourceSize</key>
                <string>{87,114}</string>
            </dict>
            <key>40.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,446},{87,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,114}}</string>
                <key>sourceSize</key>
                <string>{87,114}</string>
            </dict>
            <key>41.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,415},{87,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,114}}</string>
                <key>sourceSize</key>
                <string>{87,114}</string>
            </dict>
            <key>49.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,491},{87,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,114}}</string>
                <key>sourceSize</key>
                <string>{87,114}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,425},{87,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,114}}</string>
                <key>sourceSize</key>
                <string>{87,114}</string>
            </dict>
            <key>50.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,358},{87,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,114}}</string>
                <key>sourceSize</key>
                <string>{87,114}</string>
            </dict>
            <key>51.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,327},{87,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,114}}</string>
                <key>sourceSize</key>
                <string>{87,114}</string>
            </dict>
            <key>52.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,403},{87,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,114}}</string>
                <key>sourceSize</key>
                <string>{87,114}</string>
            </dict>
            <key>53.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,337},{87,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,114}}</string>
                <key>sourceSize</key>
                <string>{87,114}</string>
            </dict>
            <key>54.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,270},{87,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,114}}</string>
                <key>sourceSize</key>
                <string>{87,114}</string>
            </dict>
            <key>55.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,239},{87,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,114}}</string>
                <key>sourceSize</key>
                <string>{87,114}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,315},{87,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,114}}</string>
                <key>sourceSize</key>
                <string>{87,114}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,249},{87,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,114}}</string>
                <key>sourceSize</key>
                <string>{87,114}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,182},{87,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,114}}</string>
                <key>sourceSize</key>
                <string>{87,114}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,124},{87,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,114}}</string>
                <key>sourceSize</key>
                <string>{87,114}</string>
            </dict>
            <key>BackLeft.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,225},{116,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,89}}</string>
                <key>sourceSize</key>
                <string>{116,89}</string>
            </dict>
            <key>BackRight.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,159},{116,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,89}}</string>
                <key>sourceSize</key>
                <string>{116,89}</string>
            </dict>
            <key>BackTB.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,1},{90,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,123}}</string>
                <key>sourceSize</key>
                <string>{90,123}</string>
            </dict>
            <key>LYMJJTyou.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,798},{66,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,61}}</string>
                <key>sourceSize</key>
                <string>{66,61}</string>
            </dict>
            <key>Shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{65,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,147}}</string>
                <key>sourceSize</key>
                <string>{65,147}</string>
            </dict>
            <key>ShowLR.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,92},{116,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,89}}</string>
                <key>sourceSize</key>
                <string>{116,89}</string>
            </dict>
            <key>ShowTB.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,1},{90,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,130}}</string>
                <key>sourceSize</key>
                <string>{90,130}</string>
            </dict>
            <key>StandBottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,1},{90,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,122}}</string>
                <key>sourceSize</key>
                <string>{90,122}</string>
            </dict>
            <key>StandLeft.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,158},{66,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,123}}</string>
                <key>sourceSize</key>
                <string>{66,123}</string>
            </dict>
            <key>StandRight.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,92},{66,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,123}}</string>
                <key>sourceSize</key>
                <string>{66,123}</string>
            </dict>
            <key>StandTop.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,67},{90,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,123}}</string>
                <key>sourceSize</key>
                <string>{90,123}</string>
            </dict>
            <key>hun_sp.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,131},{35,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,38}}</string>
                <key>sourceSize</key>
                <string>{35,38}</string>
            </dict>
            <key>icon_ting.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,798},{58,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,79}}</string>
                <key>sourceSize</key>
                <string>{58,79}</string>
            </dict>
            <key>ji_sp.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,92},{37,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,38}}</string>
                <key>sourceSize</key>
                <string>{37,38}</string>
            </dict>
            <key>zhishibiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,170},{31,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,32}}</string>
                <key>sourceSize</key>
                <string>{31,32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>GameMJTiles.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f3e1188b3e57ace894dfc457ccc473b5$</string>
            <key>textureFileName</key>
            <string>GameMJTiles.png</string>
        </dict>
    </dict>
</plist>
