<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BGHead.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,154},{82,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,82}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>BGHead1.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,826},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>BGSet.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,425},{211,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,100}}</string>
                <key>sourceSize</key>
                <string>{211,100}</string>
            </dict>
            <key>BtAgain.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,734},{239,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,80}}</string>
                <key>sourceSize</key>
                <string>{239,80}</string>
            </dict>
            <key>BtAgree.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,734},{262,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,99}}</string>
                <key>sourceSize</key>
                <string>{262,99}</string>
            </dict>
            <key>BtChat.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,732},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>BtCheckOut.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,734},{162,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,92}}</string>
                <key>sourceSize</key>
                <string>{162,92}</string>
            </dict>
            <key>BtCtrlStart.png</key>
            <dict>
                <key>frame</key>
                <string>{{821,150},{196,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,72}}</string>
                <key>sourceSize</key>
                <string>{196,72}</string>
            </dict>
            <key>BtEndReturn.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,734},{239,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,80}}</string>
                <key>sourceSize</key>
                <string>{239,80}</string>
            </dict>
            <key>BtEndShare.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,734},{239,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,80}}</string>
                <key>sourceSize</key>
                <string>{239,80}</string>
            </dict>
            <key>BtFriend.png</key>
            <dict>
                <key>frame</key>
                <string>{{821,76},{196,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,72}}</string>
                <key>sourceSize</key>
                <string>{196,72}</string>
            </dict>
            <key>BtGPS.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{50,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,57}}</string>
                <key>sourceSize</key>
                <string>{50,57}</string>
            </dict>
            <key>BtInfo.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,638},{92,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,94}}</string>
                <key>sourceSize</key>
                <string>{92,94}</string>
            </dict>
            <key>BtLookLeave.png</key>
            <dict>
                <key>frame</key>
                <string>{{815,298},{194,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,72}}</string>
                <key>sourceSize</key>
                <string>{194,72}</string>
            </dict>
            <key>BtLookOnUser.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,544},{179,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,92}}</string>
                <key>sourceSize</key>
                <string>{179,92}</string>
            </dict>
            <key>BtLookSit.png</key>
            <dict>
                <key>frame</key>
                <string>{{821,2},{196,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,72}}</string>
                <key>sourceSize</key>
                <string>{196,72}</string>
            </dict>
            <key>BtMenu.png</key>
            <dict>
                <key>frame</key>
                <string>{{927,894},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>BtPulse.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,734},{262,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,99}}</string>
                <key>sourceSize</key>
                <string>{262,99}</string>
            </dict>
            <key>BtReady.png</key>
            <dict>
                <key>frame</key>
                <string>{{815,224},{195,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,72}}</string>
                <key>sourceSize</key>
                <string>{195,72}</string>
            </dict>
            <key>BtReady2.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,734},{239,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,80}}</string>
                <key>sourceSize</key>
                <string>{239,80}</string>
            </dict>
            <key>BtReturn.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,898},{159,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,92}}</string>
                <key>sourceSize</key>
                <string>{159,92}</string>
            </dict>
            <key>BtSet.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,638},{157,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,92}}</string>
                <key>sourceSize</key>
                <string>{157,92}</string>
            </dict>
            <key>BtSit.png</key>
            <dict>
                <key>frame</key>
                <string>{{927,734},{158,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,92}}</string>
                <key>sourceSize</key>
                <string>{158,92}</string>
            </dict>
            <key>BtTrustee.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,154},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>ClockBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,154},{83,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,92}}</string>
                <key>sourceSize</key>
                <string>{83,92}</string>
            </dict>
            <key>DissoveBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,319},{104,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,104}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>OffLine.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,154},{163,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,129}}</string>
                <key>sourceSize</key>
                <string>{163,129}</string>
            </dict>
            <key>StateReady.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,898},{80,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,97}}</string>
                <key>sourceSize</key>
                <string>{80,97}</string>
            </dict>
            <key>TDissRoom.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,975},{154,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,39}}</string>
                <key>sourceSize</key>
                <string>{154,39}</string>
            </dict>
            <key>TEnd.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{817,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{817,150}}</string>
                <key>sourceSize</key>
                <string>{817,150}</string>
            </dict>
            <key>TGEnd.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,224},{747,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{747,150}}</string>
                <key>sourceSize</key>
                <string>{747,150}</string>
            </dict>
            <key>TLookOn.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,975},{115,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,39}}</string>
                <key>sourceSize</key>
                <string>{115,39}</string>
            </dict>
            <key>bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,372},{170,219}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,219}}</string>
                <key>sourceSize</key>
                <string>{170,219}</string>
            </dict>
            <key>daojishi.png</key>
            <dict>
                <key>frame</key>
                <string>{{937,638},{77,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,77}}</string>
                <key>sourceSize</key>
                <string>{77,77}</string>
            </dict>
            <key>line.png</key>
            <dict>
                <key>frame</key>
                <string>{{1019,2},{730,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{730,2}}</string>
                <key>sourceSize</key>
                <string>{730,2}</string>
            </dict>
            <key>power.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,998},{39,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,17}}</string>
                <key>sourceSize</key>
                <string>{39,17}</string>
            </dict>
            <key>power1.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,998},{39,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,17}}</string>
                <key>sourceSize</key>
                <string>{39,17}</string>
            </dict>
            <key>power2.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,998},{39,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,17}}</string>
                <key>sourceSize</key>
                <string>{39,17}</string>
            </dict>
            <key>power3.png</key>
            <dict>
                <key>frame</key>
                <string>{{43,998},{39,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,17}}</string>
                <key>sourceSize</key>
                <string>{39,17}</string>
            </dict>
            <key>power4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,998},{39,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,17}}</string>
                <key>sourceSize</key>
                <string>{39,17}</string>
            </dict>
            <key>signal.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,973},{33,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,17}}</string>
                <key>sourceSize</key>
                <string>{33,17}</string>
            </dict>
            <key>signal1.png</key>
            <dict>
                <key>frame</key>
                <string>{{569,973},{33,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,17}}</string>
                <key>sourceSize</key>
                <string>{33,17}</string>
            </dict>
            <key>signal2.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,973},{33,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,17}}</string>
                <key>sourceSize</key>
                <string>{33,17}</string>
            </dict>
            <key>signal3.png</key>
            <dict>
                <key>frame</key>
                <string>{{531,975},{33,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,17}}</string>
                <key>sourceSize</key>
                <string>{33,17}</string>
            </dict>
            <key>signal4.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,975},{33,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,17}}</string>
                <key>sourceSize</key>
                <string>{33,17}</string>
            </dict>
            <key>signal5.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,975},{33,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,17}}</string>
                <key>sourceSize</key>
                <string>{33,17}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>GameBasics.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1ad445c40e144a9202e5dce0207035fa$</string>
            <key>textureFileName</key>
            <string>GameBasics.png</string>
        </dict>
    </dict>
</plist>
