<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>255.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{177,241}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{177,241}</string>
			</dict>
			<key>256.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,244},{177,241}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{177,241}</string>
			</dict>
			<key>257.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,487},{177,241}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{177,241}</string>
			</dict>
			<key>78.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,730},{177,241}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{177,241}</string>
			</dict>
			<key>79.png</key>
			<dict>
				<key>frame</key>
				<string>{{180,1},{177,241}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{177,241}</string>
			</dict>
			<key>b1.png</key>
			<dict>
				<key>frame</key>
				<string>{{359,357},{51,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,65}</string>
			</dict>
			<key>b10.png</key>
			<dict>
				<key>frame</key>
				<string>{{412,357},{51,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,65}</string>
			</dict>
			<key>b11.png</key>
			<dict>
				<key>frame</key>
				<string>{{465,357},{51,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,65}</string>
			</dict>
			<key>b12.png</key>
			<dict>
				<key>frame</key>
				<string>{{470,179},{51,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,65}</string>
			</dict>
			<key>b13.png</key>
			<dict>
				<key>frame</key>
				<string>{{470,246},{51,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,65}</string>
			</dict>
			<key>b2.png</key>
			<dict>
				<key>frame</key>
				<string>{{402,602},{51,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,65}</string>
			</dict>
			<key>b3.png</key>
			<dict>
				<key>frame</key>
				<string>{{402,669},{51,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,65}</string>
			</dict>
			<key>b4.png</key>
			<dict>
				<key>frame</key>
				<string>{{402,736},{51,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,65}</string>
			</dict>
			<key>b5.png</key>
			<dict>
				<key>frame</key>
				<string>{{402,803},{51,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,65}</string>
			</dict>
			<key>b6.png</key>
			<dict>
				<key>frame</key>
				<string>{{402,870},{51,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,65}</string>
			</dict>
			<key>b7.png</key>
			<dict>
				<key>frame</key>
				<string>{{402,937},{51,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,65}</string>
			</dict>
			<key>b8.png</key>
			<dict>
				<key>frame</key>
				<string>{{455,602},{51,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,65}</string>
			</dict>
			<key>b9.png</key>
			<dict>
				<key>frame</key>
				<string>{{455,669},{51,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,65}</string>
			</dict>
			<key>BG.png</key>
			<dict>
				<key>frame</key>
				<string>{{180,244},{177,241}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{177,241}</string>
			</dict>
			<key>f0.png</key>
			<dict>
				<key>frame</key>
				<string>{{180,487},{109,176}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,176}</string>
			</dict>
			<key>f1.png</key>
			<dict>
				<key>frame</key>
				<string>{{180,665},{109,176}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,176}</string>
			</dict>
			<key>f2.png</key>
			<dict>
				<key>frame</key>
				<string>{{180,843},{109,176}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,176}</string>
			</dict>
			<key>f3.png</key>
			<dict>
				<key>frame</key>
				<string>{{291,487},{109,176}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,176}</string>
			</dict>
			<key>fb11.png</key>
			<dict>
				<key>frame</key>
				<string>{{291,665},{109,176}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,176}</string>
			</dict>
			<key>fb12.png</key>
			<dict>
				<key>frame</key>
				<string>{{291,843},{109,176}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,176}</string>
			</dict>
			<key>fb13.png</key>
			<dict>
				<key>frame</key>
				<string>{{359,1},{109,176}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,176}</string>
			</dict>
			<key>fr11.png</key>
			<dict>
				<key>frame</key>
				<string>{{359,179},{109,176}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,176}</string>
			</dict>
			<key>fr12.png</key>
			<dict>
				<key>frame</key>
				<string>{{402,424},{109,176}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,176}</string>
			</dict>
			<key>fr13.png</key>
			<dict>
				<key>frame</key>
				<string>{{470,1},{109,176}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,176}</string>
			</dict>
			<key>fs0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,973},{36,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,37}</string>
			</dict>
			<key>fs1.png</key>
			<dict>
				<key>frame</key>
				<string>{{39,973},{36,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,37}</string>
			</dict>
			<key>fs2.png</key>
			<dict>
				<key>frame</key>
				<string>{{115,973},{36,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,34}</string>
			</dict>
			<key>fs3.png</key>
			<dict>
				<key>frame</key>
				<string>{{77,973},{36,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,37}</string>
			</dict>
			<key>r1.png</key>
			<dict>
				<key>frame</key>
				<string>{{455,736},{51,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,65}</string>
			</dict>
			<key>r10.png</key>
			<dict>
				<key>frame</key>
				<string>{{455,803},{51,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,65}</string>
			</dict>
			<key>r11.png</key>
			<dict>
				<key>frame</key>
				<string>{{455,870},{51,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,65}</string>
			</dict>
			<key>r12.png</key>
			<dict>
				<key>frame</key>
				<string>{{455,937},{51,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,65}</string>
			</dict>
			<key>r13.png</key>
			<dict>
				<key>frame</key>
				<string>{{508,602},{51,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,65}</string>
			</dict>
			<key>r2.png</key>
			<dict>
				<key>frame</key>
				<string>{{513,424},{51,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,65}</string>
			</dict>
			<key>r3.png</key>
			<dict>
				<key>frame</key>
				<string>{{518,313},{51,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,65}</string>
			</dict>
			<key>r4.png</key>
			<dict>
				<key>frame</key>
				<string>{{513,491},{51,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,65}</string>
			</dict>
			<key>r5.png</key>
			<dict>
				<key>frame</key>
				<string>{{523,179},{51,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,65}</string>
			</dict>
			<key>r6.png</key>
			<dict>
				<key>frame</key>
				<string>{{523,246},{51,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,65}</string>
			</dict>
			<key>r7.png</key>
			<dict>
				<key>frame</key>
				<string>{{508,669},{51,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,65}</string>
			</dict>
			<key>r8.png</key>
			<dict>
				<key>frame</key>
				<string>{{508,736},{51,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,65}</string>
			</dict>
			<key>r9.png</key>
			<dict>
				<key>frame</key>
				<string>{{508,803},{51,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,65}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>GameCard.png</string>
			<key>realTextureFileName</key>
			<string>GameCard.png</string>
			<key>size</key>
			<string>{580,1020}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>580</integer>
			<key>height</key>
			<integer>1020</integer>
		</dict>
	</dict>
</plist>