<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>P9Card0.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,298},{59,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,146}}</string>
                <key>sourceSize</key>
                <string>{59,146}</string>
            </dict>
            <key>P9Card124.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,298},{59,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,146}}</string>
                <key>sourceSize</key>
                <string>{59,146}</string>
            </dict>
            <key>P9Card21.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,298},{59,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,146}}</string>
                <key>sourceSize</key>
                <string>{59,146}</string>
            </dict>
            <key>P9Card23.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,446},{59,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,146}}</string>
                <key>sourceSize</key>
                <string>{59,146}</string>
            </dict>
            <key>P9Card24.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,298},{59,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,146}}</string>
                <key>sourceSize</key>
                <string>{59,146}</string>
            </dict>
            <key>P9Card25.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,298},{59,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,146}}</string>
                <key>sourceSize</key>
                <string>{59,146}</string>
            </dict>
            <key>P9Card3.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,150},{59,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,146}}</string>
                <key>sourceSize</key>
                <string>{59,146}</string>
            </dict>
            <key>P9Card38.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,124},{59,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,146}}</string>
                <key>sourceSize</key>
                <string>{59,146}</string>
            </dict>
            <key>P9Card39.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,63},{59,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,146}}</string>
                <key>sourceSize</key>
                <string>{59,146}</string>
            </dict>
            <key>P9Card42.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,446},{59,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,146}}</string>
                <key>sourceSize</key>
                <string>{59,146}</string>
            </dict>
            <key>P9Card43.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,298},{59,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,146}}</string>
                <key>sourceSize</key>
                <string>{59,146}</string>
            </dict>
            <key>P9Card5.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,150},{59,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,146}}</string>
                <key>sourceSize</key>
                <string>{59,146}</string>
            </dict>
            <key>P9Card52.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,298},{59,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,146}}</string>
                <key>sourceSize</key>
                <string>{59,146}</string>
            </dict>
            <key>P9Card54.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,150},{59,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,146}}</string>
                <key>sourceSize</key>
                <string>{59,146}</string>
            </dict>
            <key>P9Card58.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,2},{59,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,146}}</string>
                <key>sourceSize</key>
                <string>{59,146}</string>
            </dict>
            <key>P9Card6.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,2},{59,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,146}}</string>
                <key>sourceSize</key>
                <string>{59,146}</string>
            </dict>
            <key>P9Card68.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,2},{59,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,146}}</string>
                <key>sourceSize</key>
                <string>{59,146}</string>
            </dict>
            <key>P9Card7.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,2},{59,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,146}}</string>
                <key>sourceSize</key>
                <string>{59,146}</string>
            </dict>
            <key>P9Card8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,446},{59,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,146}}</string>
                <key>sourceSize</key>
                <string>{59,146}</string>
            </dict>
            <key>P9Card88.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,298},{59,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,146}}</string>
                <key>sourceSize</key>
                <string>{59,146}</string>
            </dict>
            <key>P9Card9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,150},{59,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,146}}</string>
                <key>sourceSize</key>
                <string>{59,146}</string>
            </dict>
            <key>P9Card98.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{59,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,146}}</string>
                <key>sourceSize</key>
                <string>{59,146}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>paijiu.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ce8296ea3d647f494dd0021eea3a07c1$</string>
            <key>textureFileName</key>
            <string>paijiu.png</string>
        </dict>
    </dict>
</plist>
