<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BGHelp.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{238,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,102}}</string>
                <key>sourceSize</key>
                <string>{238,102}</string>
            </dict>
            <key>BGItem.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,2},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>BGJoin.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,2},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>BGNum.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,2},{98,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,72}}</string>
                <key>sourceSize</key>
                <string>{98,72}</string>
            </dict>
            <key>BtCreate.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,2},{234,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,83}}</string>
                <key>sourceSize</key>
                <string>{234,83}</string>
            </dict>
            <key>BtEnterRoom.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,2},{233,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,83}}</string>
                <key>sourceSize</key>
                <string>{233,83}</string>
            </dict>
            <key>BtGame-p.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,2},{217,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,78}}</string>
                <key>sourceSize</key>
                <string>{217,78}</string>
            </dict>
            <key>BtGame.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,2},{217,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,78}}</string>
                <key>sourceSize</key>
                <string>{217,78}</string>
            </dict>
            <key>BtHandle.png</key>
            <dict>
                <key>frame</key>
                <string>{{823,158},{46,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,48}}</string>
                <key>sourceSize</key>
                <string>{46,48}</string>
            </dict>
            <key>BtKind-p.png</key>
            <dict>
                <key>frame</key>
                <string>{{1706,2},{244,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,84}}</string>
                <key>sourceSize</key>
                <string>{244,84}</string>
            </dict>
            <key>BtKind.png</key>
            <dict>
                <key>frame</key>
                <string>{{1460,2},{244,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,84}}</string>
                <key>sourceSize</key>
                <string>{244,84}</string>
            </dict>
            <key>BtReCreat.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,2},{233,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,83}}</string>
                <key>sourceSize</key>
                <string>{233,83}</string>
            </dict>
            <key>InputRoom.png</key>
            <dict>
                <key>frame</key>
                <string>{{1458,89},{24,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,74}}</string>
                <key>sourceSize</key>
                <string>{24,74}</string>
            </dict>
            <key>ListMask.png</key>
            <dict>
                <key>frame</key>
                <string>{{521,2},{156,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,35}}</string>
                <key>sourceSize</key>
                <string>{156,35}</string>
            </dict>
            <key>TCardType.png</key>
            <dict>
                <key>frame</key>
                <string>{{1148,2},{310,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{310,85}}</string>
                <key>sourceSize</key>
                <string>{310,85}</string>
            </dict>
            <key>TCreate.png</key>
            <dict>
                <key>frame</key>
                <string>{{1599,165},{310,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{310,75}}</string>
                <key>sourceSize</key>
                <string>{310,75}</string>
            </dict>
            <key>TInput.png</key>
            <dict>
                <key>frame</key>
                <string>{{1287,156},{310,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{310,85}}</string>
                <key>sourceSize</key>
                <string>{310,85}</string>
            </dict>
            <key>TJoin.png</key>
            <dict>
                <key>frame</key>
                <string>{{975,156},{310,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{310,85}}</string>
                <key>sourceSize</key>
                <string>{310,85}</string>
            </dict>
            <key>TOther.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,2},{310,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{310,85}}</string>
                <key>sourceSize</key>
                <string>{310,85}</string>
            </dict>
            <key>TRules.png</key>
            <dict>
                <key>frame</key>
                <string>{{1599,88},{310,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{310,75}}</string>
                <key>sourceSize</key>
                <string>{310,75}</string>
            </dict>
            <key>checkBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{994,89},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>checkBG2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1424,89},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>checkBG3.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,104},{300,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,52}}</string>
                <key>sourceSize</key>
                <string>{300,52}</string>
            </dict>
            <key>checkMask.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,89},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>checkMask2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1389,89},{34,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,33}}</string>
                <key>sourceSize</key>
                <string>{34,33}</string>
            </dict>
            <key>checkMask3.png</key>
            <dict>
                <key>frame</key>
                <string>{{521,160},{300,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,52}}</string>
                <key>sourceSize</key>
                <string>{300,52}</string>
            </dict>
            <key>down.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,89},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>down2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1911,88},{73,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,73}}</string>
                <key>sourceSize</key>
                <string>{73,73}</string>
            </dict>
            <key>downB.png</key>
            <dict>
                <key>frame</key>
                <string>{{1911,163},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>info.png</key>
            <dict>
                <key>frame</key>
                <string>{{1040,89},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>progressbar.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,136},{610,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{610,18}}</string>
                <key>sourceSize</key>
                <string>{610,18}</string>
            </dict>
            <key>progressbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,221},{612,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{612,20}}</string>
                <key>sourceSize</key>
                <string>{612,20}</string>
            </dict>
            <key>ruleBG2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1085,89},{302,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{302,42}}</string>
                <key>sourceSize</key>
                <string>{302,42}</string>
            </dict>
            <key>spCard.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,89},{45,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,40}}</string>
                <key>sourceSize</key>
                <string>{45,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Room.png</string>
            <key>size</key>
            <string>{1986,243}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c6065d86555456a45c542875e9cf6635$</string>
            <key>textureFileName</key>
            <string>Room.png</string>
        </dict>
    </dict>
</plist>
