<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BG1.png</key>
            <dict>
                <key>frame</key>
                <string>{{663,2},{627,357}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{627,357}}</string>
                <key>sourceSize</key>
                <string>{635,367}</string>
            </dict>
            <key>BGInfo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,975},{89,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,45}}</string>
                <key>sourceSize</key>
                <string>{89,45}</string>
            </dict>
            <key>BGLose.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,631},{233,342}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{233,342}}</string>
                <key>sourceSize</key>
                <string>{237,342}</string>
            </dict>
            <key>BGWin.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,631},{233,342}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{233,342}}</string>
                <key>sourceSize</key>
                <string>{237,342}</string>
            </dict>
            <key>BGpaishu.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,975},{43,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,58}}</string>
                <key>sourceSize</key>
                <string>{43,58}</string>
            </dict>
            <key>BgMingji.png</key>
            <dict>
                <key>frame</key>
                <string>{{663,2},{627,357}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{627,357}}</string>
                <key>sourceSize</key>
                <string>{635,367}</string>
            </dict>
            <key>Btbuchaopai.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,373},{240,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{240,81}}</string>
                <key>sourceSize</key>
                <string>{240,91}</string>
            </dict>
            <key>Btbuchu.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,290},{240,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{240,81}}</string>
                <key>sourceSize</key>
                <string>{240,91}</string>
            </dict>
            <key>Btbudipai.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,290},{240,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{240,81}}</string>
                <key>sourceSize</key>
                <string>{240,91}</string>
            </dict>
            <key>Btbudupai.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,290},{240,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{240,81}}</string>
                <key>sourceSize</key>
                <string>{240,91}</string>
            </dict>
            <key>Btchaopai.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,290},{240,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{240,81}}</string>
                <key>sourceSize</key>
                <string>{240,91}</string>
            </dict>
            <key>Btchupai.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,532},{240,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{240,81}}</string>
                <key>sourceSize</key>
                <string>{240,91}</string>
            </dict>
            <key>Btckdyp.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,532},{76,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,88}}</string>
                <key>sourceSize</key>
                <string>{76,88}</string>
            </dict>
            <key>Btdipai.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,290},{240,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{240,81}}</string>
                <key>sourceSize</key>
                <string>{240,91}</string>
            </dict>
            <key>Btdupai.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,290},{240,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{240,81}}</string>
                <key>sourceSize</key>
                <string>{240,91}</string>
            </dict>
            <key>Bttishi.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,456},{240,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{240,79}}</string>
                <key>sourceSize</key>
                <string>{240,91}</string>
            </dict>
            <key>Btyaobuqi.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,537},{205,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,78}}</string>
                <key>sourceSize</key>
                <string>{205,78}</string>
            </dict>
            <key>Tdaguo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,146},{659,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{659,70}}</string>
                <key>sourceSize</key>
                <string>{659,70}</string>
            </dict>
            <key>Tdayu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,74},{659,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{659,70}}</string>
                <key>sourceSize</key>
                <string>{659,70}</string>
            </dict>
            <key>Tfenhuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{659,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{659,70}}</string>
                <key>sourceSize</key>
                <string>{659,70}</string>
            </dict>
            <key>Tguize.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,218},{657,70}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{657,70}}</string>
                <key>sourceSize</key>
                <string>{659,70}</string>
            </dict>
            <key>buchao.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,615},{104,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{104,62}}</string>
                <key>sourceSize</key>
                <string>{106,62}</string>
            </dict>
            <key>buchu.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,680},{102,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{102,61}}</string>
                <key>sourceSize</key>
                <string>{106,61}</string>
            </dict>
            <key>budi.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,679},{102,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{102,62}}</string>
                <key>sourceSize</key>
                <string>{106,62}</string>
            </dict>
            <key>budupai.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,809},{152,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,61}}</string>
                <key>sourceSize</key>
                <string>{152,61}</string>
            </dict>
            <key>clock.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,532},{74,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,85}}</string>
                <key>sourceSize</key>
                <string>{74,85}</string>
            </dict>
            <key>close.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,743},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>dagong.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,809},{128,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,62}}</string>
                <key>sourceSize</key>
                <string>{128,62}</string>
            </dict>
            <key>eryou.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,680},{115,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,57}}</string>
                <key>sourceSize</key>
                <string>{115,57}</string>
            </dict>
            <key>huobanheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,966},{60,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,32}}</string>
                <key>sourceSize</key>
                <string>{60,32}</string>
            </dict>
            <key>huobanshu.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,537},{29,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,54}}</string>
                <key>sourceSize</key>
                <string>{29,54}</string>
            </dict>
            <key>mingji.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,731},{79,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,38}}</string>
                <key>sourceSize</key>
                <string>{79,38}</string>
            </dict>
            <key>sanrengong.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,617},{198,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,61}}</string>
                <key>sourceSize</key>
                <string>{198,61}</string>
            </dict>
            <key>sanyou.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,963},{116,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,57}}</string>
                <key>sourceSize</key>
                <string>{116,57}</string>
            </dict>
            <key>shang.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,653},{51,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,36}}</string>
                <key>sourceSize</key>
                <string>{51,36}</string>
            </dict>
            <key>warning.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,743},{64,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,75}}</string>
                <key>sourceSize</key>
                <string>{64,75}</string>
            </dict>
            <key>xia.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,615},{51,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,36}}</string>
                <key>sourceSize</key>
                <string>{51,36}</string>
            </dict>
            <key>xitongliangpai.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,975},{136,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,39}}</string>
                <key>sourceSize</key>
                <string>{136,39}</string>
            </dict>
            <key>yaobuqi.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,812},{152,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,62}}</string>
                <key>sourceSize</key>
                <string>{152,62}</string>
            </dict>
            <key>yiyou.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,743},{115,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,57}}</string>
                <key>sourceSize</key>
                <string>{115,57}</string>
            </dict>
            <key>you.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,604},{34,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,53}}</string>
                <key>sourceSize</key>
                <string>{34,53}</string>
            </dict>
            <key>zhuangjai.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,691},{39,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,38}}</string>
                <key>sourceSize</key>
                <string>{39,38}</string>
            </dict>
            <key>zuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,568},{34,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,53}}</string>
                <key>sourceSize</key>
                <string>{34,53}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Game50000.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1c590d7d088badea963c8987a72c536f$</string>
            <key>textureFileName</key>
            <string>Game50000.png</string>
        </dict>
    </dict>
</plist>
