<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>0.png</key>
			<dict>
				<key>frame</key>
				<string>{{733,1},{289,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{289,93}</string>
			</dict>
			<key>1.png</key>
			<dict>
				<key>frame</key>
				<string>{{707,97},{308,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{308,94}</string>
			</dict>
			<key>10.png</key>
			<dict>
				<key>frame</key>
				<string>{{698,193},{324,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{324,96}</string>
			</dict>
			<key>11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,289},{328,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{328,96}</string>
			</dict>
			<key>2.png</key>
			<dict>
				<key>frame</key>
				<string>{{331,289},{328,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{328,94}</string>
			</dict>
			<key>3.png</key>
			<dict>
				<key>frame</key>
				<string>{{356,97},{349,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{349,94}</string>
			</dict>
			<key>4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,193},{349,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{349,94}</string>
			</dict>
			<key>5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{369,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{369,94}</string>
			</dict>
			<key>6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,97},{353,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{353,94}</string>
			</dict>
			<key>7.png</key>
			<dict>
				<key>frame</key>
				<string>{{372,1},{359,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{359,94}</string>
			</dict>
			<key>8.png</key>
			<dict>
				<key>frame</key>
				<string>{{352,193},{344,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{344,94}</string>
			</dict>
			<key>9.png</key>
			<dict>
				<key>frame</key>
				<string>{{661,291},{324,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{324,94}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Ani3D2.png</string>
			<key>realTextureFileName</key>
			<string>Ani3D2.png</string>
			<key>size</key>
			<string>{1023,386}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1023</integer>
			<key>height</key>
			<integer>386</integer>
		</dict>
	</dict>
</plist>