<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>0.png</key>
			<dict>
				<key>frame</key>
				<string>{{905,67},{98,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,50}</string>
			</dict>
			<key>1.png</key>
			<dict>
				<key>frame</key>
				<string>{{823,553},{136,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{136,66}</string>
			</dict>
			<key>10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,287},{346,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{346,94}</string>
			</dict>
			<key>11.png</key>
			<dict>
				<key>frame</key>
				<string>{{391,191},{368,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{368,94}</string>
			</dict>
			<key>12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,191},{388,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{388,94}</string>
			</dict>
			<key>13.png</key>
			<dict>
				<key>frame</key>
				<string>{{427,95},{406,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{406,94}</string>
			</dict>
			<key>14.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,95},{424,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{424,94}</string>
			</dict>
			<key>15.png</key>
			<dict>
				<key>frame</key>
				<string>{{457,1},{446,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{446,92}</string>
			</dict>
			<key>16.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{454,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{454,92}</string>
			</dict>
			<key>17.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,383},{340,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{340,82}</string>
			</dict>
			<key>18.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,467},{334,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{334,82}</string>
			</dict>
			<key>19.png</key>
			<dict>
				<key>frame</key>
				<string>{{581,553},{240,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{240,80}</string>
			</dict>
			<key>2.png</key>
			<dict>
				<key>frame</key>
				<string>{{835,155},{172,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{172,84}</string>
			</dict>
			<key>20.png</key>
			<dict>
				<key>frame</key>
				<string>{{213,575},{238,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{238,78}</string>
			</dict>
			<key>21.png</key>
			<dict>
				<key>frame</key>
				<string>{{453,635},{238,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{238,76}</string>
			</dict>
			<key>22.png</key>
			<dict>
				<key>frame</key>
				<string>{{693,635},{214,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{214,70}</string>
			</dict>
			<key>23.png</key>
			<dict>
				<key>frame</key>
				<string>{{693,707},{214,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{214,70}</string>
			</dict>
			<key>24.png</key>
			<dict>
				<key>frame</key>
				<string>{{905,1},{118,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,64}</string>
			</dict>
			<key>25.png</key>
			<dict>
				<key>frame</key>
				<string>{{899,119},{114,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,34}</string>
			</dict>
			<key>26.png</key>
			<dict>
				<key>frame</key>
				<string>{{835,95},{62,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{62,34}</string>
			</dict>
			<key>3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,551},{210,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{210,100}</string>
			</dict>
			<key>4.png</key>
			<dict>
				<key>frame</key>
				<string>{{761,241},{246,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{246,118}</string>
			</dict>
			<key>5.png</key>
			<dict>
				<key>frame</key>
				<string>{{337,479},{242,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{242,94}</string>
			</dict>
			<key>6.png</key>
			<dict>
				<key>frame</key>
				<string>{{625,457},{262,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{262,94}</string>
			</dict>
			<key>7.png</key>
			<dict>
				<key>frame</key>
				<string>{{343,383},{280,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{280,94}</string>
			</dict>
			<key>8.png</key>
			<dict>
				<key>frame</key>
				<string>{{677,361},{304,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{304,94}</string>
			</dict>
			<key>9.png</key>
			<dict>
				<key>frame</key>
				<string>{{349,287},{326,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{326,94}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>AniLine.png</string>
			<key>realTextureFileName</key>
			<string>AniLine.png</string>
			<key>size</key>
			<string>{1024,778}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>778</integer>
		</dict>
	</dict>
</plist>