<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ALL IN.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,911},{64,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,22}}</string>
                <key>sourceSize</key>
                <string>{64,22}</string>
            </dict>
            <key>Bt2.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,230},{164,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,63}}</string>
                <key>sourceSize</key>
                <string>{164,63}</string>
            </dict>
            <key>Bt3.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,850},{164,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,63}}</string>
                <key>sourceSize</key>
                <string>{164,63}</string>
            </dict>
            <key>Bt4.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,684},{164,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,63}}</string>
                <key>sourceSize</key>
                <string>{164,63}</string>
            </dict>
            <key>Bt8.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,518},{164,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,63}}</string>
                <key>sourceSize</key>
                <string>{164,63}</string>
            </dict>
            <key>BtPass.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,711},{102,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,105}}</string>
                <key>sourceSize</key>
                <string>{102,105}</string>
            </dict>
            <key>Btgenzhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,607},{102,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,105}}</string>
                <key>sourceSize</key>
                <string>{102,105}</string>
            </dict>
            <key>Btliaotian.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,851},{72,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,73}}</string>
                <key>sourceSize</key>
                <string>{72,73}</string>
            </dict>
            <key>Btqipai.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,503},{102,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,105}}</string>
                <key>sourceSize</key>
                <string>{102,105}</string>
            </dict>
            <key>Btquanya.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,486},{102,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,105}}</string>
                <key>sourceSize</key>
                <string>{102,105}</string>
            </dict>
            <key>Btqueding .png</key>
            <dict>
                <key>frame</key>
                <string>{{270,668},{106,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{106,63}}</string>
                <key>sourceSize</key>
                <string>{108,63}</string>
            </dict>
            <key>Btshangjupaixing.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,164},{54,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,136}}</string>
                <key>sourceSize</key>
                <string>{54,136}</string>
            </dict>
            <key>Btshezhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,776},{72,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,73}}</string>
                <key>sourceSize</key>
                <string>{72,73}</string>
            </dict>
            <key>Bttuichu.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,593},{72,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,73}}</string>
                <key>sourceSize</key>
                <string>{72,73}</string>
            </dict>
            <key>Btyuyin.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,593},{72,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,73}}</string>
                <key>sourceSize</key>
                <string>{72,73}</string>
            </dict>
            <key>Jinbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,773},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,31}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>UserInfoBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,668},{148,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,78}}</string>
                <key>sourceSize</key>
                <string>{148,78}</string>
            </dict>
            <key>UserInfoBG2.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,818},{76,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,122}}</string>
                <key>sourceSize</key>
                <string>{76,122}</string>
            </dict>
            <key>br-rangpai.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,358},{126,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,126}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>btn_ann.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,942},{80,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,83}}</string>
                <key>sourceSize</key>
                <string>{80,83}</string>
            </dict>
            <key>genzhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,911},{103,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,40}}</string>
                <key>sourceSize</key>
                <string>{103,40}</string>
            </dict>
            <key>guanbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,815},{35,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,40}}</string>
                <key>sourceSize</key>
                <string>{35,40}</string>
            </dict>
            <key>huadong1.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,132},{30,331}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,331}}</string>
                <key>sourceSize</key>
                <string>{30,331}</string>
            </dict>
            <key>huadong2.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,132},{26,326}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,326}}</string>
                <key>sourceSize</key>
                <string>{26,326}</string>
            </dict>
            <key>huadongdi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,518},{121,486}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,486}}</string>
                <key>sourceSize</key>
                <string>{121,486}</string>
            </dict>
            <key>icon_zhuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,977},{45,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,42}}</string>
                <key>sourceSize</key>
                <string>{45,42}</string>
            </dict>
            <key>jiaz.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,815},{103,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,40}}</string>
                <key>sourceSize</key>
                <string>{103,40}</string>
            </dict>
            <key>jiazhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,396},{102,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,105}}</string>
                <key>sourceSize</key>
                <string>{102,105}</string>
            </dict>
            <key>jinbishu.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,2},{160,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,20}}</string>
                <key>sourceSize</key>
                <string>{160,20}</string>
            </dict>
            <key>kanpai.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,230},{126,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,126}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>lb0.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,857},{94,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,52}}</string>
                <key>sourceSize</key>
                <string>{94,52}</string>
            </dict>
            <key>lb1.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,926},{94,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,52}}</string>
                <key>sourceSize</key>
                <string>{94,52}</string>
            </dict>
            <key>lb2.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,926},{94,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,52}}</string>
                <key>sourceSize</key>
                <string>{94,52}</string>
            </dict>
            <key>lb3.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,486},{94,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,52}}</string>
                <key>sourceSize</key>
                <string>{94,52}</string>
            </dict>
            <key>paidi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{514,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{514,140}}</string>
                <key>sourceSize</key>
                <string>{514,140}</string>
            </dict>
            <key>pic_damang.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,302},{79,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,39}}</string>
                <key>sourceSize</key>
                <string>{79,39}</string>
            </dict>
            <key>pic_suoha.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,668},{103,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,40}}</string>
                <key>sourceSize</key>
                <string>{103,40}</string>
            </dict>
            <key>pic_touxaing2.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,132},{203,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,96}}</string>
                <key>sourceSize</key>
                <string>{203,96}</string>
            </dict>
            <key>pic_xiaomang.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,132},{79,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,39}}</string>
                <key>sourceSize</key>
                <string>{79,39}</string>
            </dict>
            <key>shangjupaiju.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,230},{209,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,57}}</string>
                <key>sourceSize</key>
                <string>{209,57}</string>
            </dict>
            <key>xiaopai.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,465},{34,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,45}}</string>
                <key>sourceSize</key>
                <string>{34,45}</string>
            </dict>
            <key>xiashudi.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,503},{163,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,38}}</string>
                <key>sourceSize</key>
                <string>{163,38}</string>
            </dict>
            <key>xinxidi.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,2},{344,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{344,128}}</string>
                <key>sourceSize</key>
                <string>{344,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Game63500.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8b53d6e0c50eccb72b5a7b1291219f4c$</string>
            <key>textureFileName</key>
            <string>Game63500.png</string>
        </dict>
    </dict>
</plist>
