<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BtRules.png</key>
            <dict>
                <key>frame</key>
                <string>{{1341,117},{69,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,70}}</string>
                <key>sourceSize</key>
                <string>{69,70}</string>
            </dict>
            <key>Game52041_CM_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1936,279},{64,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,65}}</string>
                <key>sourceSize</key>
                <string>{64,65}</string>
            </dict>
            <key>Game52041_CM_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1936,213},{64,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,65}}</string>
                <key>sourceSize</key>
                <string>{64,65}</string>
            </dict>
            <key>Game52041_CM_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1870,260},{64,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,65}}</string>
                <key>sourceSize</key>
                <string>{64,65}</string>
            </dict>
            <key>Game52041_DY_dk_bugen.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,213},{125,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,62}}</string>
                <key>sourceSize</key>
                <string>{125,62}</string>
            </dict>
            <key>Game52041_DY_dk_buti.png</key>
            <dict>
                <key>frame</key>
                <string>{{1126,213},{124,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,62}}</string>
                <key>sourceSize</key>
                <string>{124,62}</string>
            </dict>
            <key>Game52041_DY_dk_fanti.png</key>
            <dict>
                <key>frame</key>
                <string>{{997,213},{124,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,63}}</string>
                <key>sourceSize</key>
                <string>{124,63}</string>
            </dict>
            <key>Game52041_DY_dk_genle.png</key>
            <dict>
                <key>frame</key>
                <string>{{1062,213},{124,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,62}}</string>
                <key>sourceSize</key>
                <string>{124,62}</string>
            </dict>
            <key>Game52041_DY_dk_koule.png</key>
            <dict>
                <key>frame</key>
                <string>{{1190,213},{123,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,62}}</string>
                <key>sourceSize</key>
                <string>{123,62}</string>
            </dict>
            <key>Game52041_DY_dk_koupai.png</key>
            <dict>
                <key>frame</key>
                <string>{{1584,2},{108,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,55}}</string>
                <key>sourceSize</key>
                <string>{108,55}</string>
            </dict>
            <key>Game52041_DY_dk_qijiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,213},{125,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,64}}</string>
                <key>sourceSize</key>
                <string>{125,64}</string>
            </dict>
            <key>Game52041_TK_an_cm10_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,242},{98,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,105}}</string>
                <key>sourceSize</key>
                <string>{98,105}</string>
            </dict>
            <key>Game52041_TK_an_cm20_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,242},{98,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,105}}</string>
                <key>sourceSize</key>
                <string>{98,105}</string>
            </dict>
            <key>Game52041_TK_an_cm5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,242},{98,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,105}}</string>
                <key>sourceSize</key>
                <string>{98,105}</string>
            </dict>
            <key>Game52041_TK_bt1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1116,2},{209,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,80}}</string>
                <key>sourceSize</key>
                <string>{209,80}</string>
            </dict>
            <key>Game52041_TK_cc.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,286},{261,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{261,55}}</string>
                <key>sourceSize</key>
                <string>{261,55}</string>
            </dict>
            <key>Game52041_TK_cmd1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1266,2},{104,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,113}}</string>
                <key>sourceSize</key>
                <string>{104,113}</string>
            </dict>
            <key>Game52041_TK_cmd2.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,227},{104,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,113}}</string>
                <key>sourceSize</key>
                <string>{104,113}</string>
            </dict>
            <key>Game52041_TK_cmd3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1478,2},{104,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,111}}</string>
                <key>sourceSize</key>
                <string>{104,111}</string>
            </dict>
            <key>Game52041_TK_cmd4.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,227},{104,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,114}}</string>
                <key>sourceSize</key>
                <string>{104,114}</string>
            </dict>
            <key>Game52041_TK_cmd5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1372,2},{104,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,111}}</string>
                <key>sourceSize</key>
                <string>{104,111}</string>
            </dict>
            <key>Game52041_TK_cmx1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1804,260},{64,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,65}}</string>
                <key>sourceSize</key>
                <string>{64,65}</string>
            </dict>
            <key>Game52041_TK_cmx2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1804,194},{64,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,65}}</string>
                <key>sourceSize</key>
                <string>{64,65}</string>
            </dict>
            <key>Game52041_TK_cmx3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1544,115},{64,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,65}}</string>
                <key>sourceSize</key>
                <string>{64,65}</string>
            </dict>
            <key>Game52041_TK_cmx4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1478,115},{64,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,65}}</string>
                <key>sourceSize</key>
                <string>{64,65}</string>
            </dict>
            <key>Game52041_TK_cmx5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1412,115},{64,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,65}}</string>
                <key>sourceSize</key>
                <string>{64,65}</string>
            </dict>
            <key>Game52041_TK_ft1.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,2},{223,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{223,90}}</string>
                <key>sourceSize</key>
                <string>{223,90}</string>
            </dict>
            <key>Game52041_TK_gz1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1034,2},{209,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,80}}</string>
                <key>sourceSize</key>
                <string>{209,80}</string>
            </dict>
            <key>Game52041_TK_hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{1254,194},{548,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{548,118}}</string>
                <key>sourceSize</key>
                <string>{548,118}</string>
            </dict>
            <key>Game52041_TK_hg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1959,40},{35,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,31}}</string>
                <key>sourceSize</key>
                <string>{35,31}</string>
            </dict>
            <key>Game52041_TK_jb.png</key>
            <dict>
                <key>frame</key>
                <string>{{1254,314},{23,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,27}}</string>
                <key>sourceSize</key>
                <string>{23,27}</string>
            </dict>
            <key>Game52041_TK_jb_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,213},{124,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,67}}</string>
                <key>sourceSize</key>
                <string>{124,67}</string>
            </dict>
            <key>Game52041_TK_kanp1.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,2},{223,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{223,90}}</string>
                <key>sourceSize</key>
                <string>{223,90}</string>
            </dict>
            <key>Game52041_TK_kop1.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,2},{209,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,80}}</string>
                <key>sourceSize</key>
                <string>{209,80}</string>
            </dict>
            <key>Game52041_TK_kp1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1198,2},{190,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,66}}</string>
                <key>sourceSize</key>
                <string>{190,66}</string>
            </dict>
            <key>Game52041_TK_lg.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,2},{277,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,78}}</string>
                <key>sourceSize</key>
                <string>{277,78}</string>
            </dict>
            <key>Game52041_TK_qj1.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,2},{209,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,80}}</string>
                <key>sourceSize</key>
                <string>{209,80}</string>
            </dict>
            <key>Game52041_TK_sjkx.png</key>
            <dict>
                <key>frame</key>
                <string>{{1884,108},{103,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,104}}</string>
                <key>sourceSize</key>
                <string>{103,104}</string>
            </dict>
            <key>Game52041_TK_sz1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1279,314},{170,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,24}}</string>
                <key>sourceSize</key>
                <string>{170,24}</string>
            </dict>
            <key>Game52041_TK_txk.png</key>
            <dict>
                <key>frame</key>
                <string>{{1853,2},{104,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,104}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>Game52041_TK_txk1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1747,2},{104,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,104}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>Game52041_TK_xz.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,2},{214,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,54}}</string>
                <key>sourceSize</key>
                <string>{214,54}</string>
            </dict>
            <key>Game52041_TK_xz1.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,2},{209,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,80}}</string>
                <key>sourceSize</key>
                <string>{209,80}</string>
            </dict>
            <key>Game52041_TK_xzd.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{282,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,74}}</string>
                <key>sourceSize</key>
                <string>{282,74}</string>
            </dict>
            <key>Game52041_TK_zuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,242},{28,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,23}}</string>
                <key>sourceSize</key>
                <string>{28,23}</string>
            </dict>
            <key>Game52041_head_mask.png</key>
            <dict>
                <key>frame</key>
                <string>{{1641,2},{104,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,104}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>Game52041_img_kanpai.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,242},{39,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,36}}</string>
                <key>sourceSize</key>
                <string>{39,36}</string>
            </dict>
            <key>LabCreater.png</key>
            <dict>
                <key>frame</key>
                <string>{{1691,108},{97,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,84}}</string>
                <key>sourceSize</key>
                <string>{97,84}</string>
            </dict>
            <key>clockBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{1790,108},{84,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,92}}</string>
                <key>sourceSize</key>
                <string>{84,92}</string>
            </dict>
            <key>gongzhang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1610,112},{80,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,79}}</string>
                <key>sourceSize</key>
                <string>{80,79}</string>
            </dict>
            <key>jiesuandi.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,2},{238,388}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,388}}</string>
                <key>sourceSize</key>
                <string>{238,388}</string>
            </dict>
            <key>red_deng.png</key>
            <dict>
                <key>frame</key>
                <string>{{1266,117},{73,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,74}}</string>
                <key>sourceSize</key>
                <string>{73,74}</string>
            </dict>
            <key>tuoguan.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,242},{40,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,35}}</string>
                <key>sourceSize</key>
                <string>{40,35}</string>
            </dict>
            <key>yellow_deng.png</key>
            <dict>
                <key>frame</key>
                <string>{{1959,2},{36,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,38}}</string>
                <key>sourceSize</key>
                <string>{36,38}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Game21050.png</string>
            <key>size</key>
            <string>{2003,345}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4d4e60dd40f0b5b4adcb8ab17d7c198d$</string>
            <key>textureFileName</key>
            <string>Game21050.png</string>
        </dict>
    </dict>
</plist>
