<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>type1.png</key>
			<dict>
				<key>frame</key>
				<string>{{270,289},{87,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,46}</string>
			</dict>
			<key>type10.png</key>
			<dict>
				<key>frame</key>
				<string>{{357,290},{87,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,46}</string>
			</dict>
			<key>type11.png</key>
			<dict>
				<key>frame</key>
				<string>{{153,196},{127,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{127,46}</string>
			</dict>
			<key>type12.png</key>
			<dict>
				<key>frame</key>
				<string>{{167,382},{87,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,44}</string>
			</dict>
			<key>type2.png</key>
			<dict>
				<key>frame</key>
				<string>{{81,382},{86,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,45}</string>
			</dict>
			<key>type20.png</key>
			<dict>
				<key>frame</key>
				<string>{{360,49},{131,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{131,48}</string>
			</dict>
			<key>type21.png</key>
			<dict>
				<key>frame</key>
				<string>{{432,194},{80,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,48}</string>
			</dict>
			<key>type22.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,292},{83,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{83,48}</string>
			</dict>
			<key>type23.png</key>
			<dict>
				<key>frame</key>
				<string>{{382,0},{129,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{129,49}</string>
			</dict>
			<key>type24.png</key>
			<dict>
				<key>frame</key>
				<string>{{360,97},{128,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,49}</string>
			</dict>
			<key>type25.png</key>
			<dict>
				<key>frame</key>
				<string>{{429,336},{82,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{82,48}</string>
			</dict>
			<key>type26.png</key>
			<dict>
				<key>frame</key>
				<string>{{432,242},{80,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,48}</string>
			</dict>
			<key>type27.png</key>
			<dict>
				<key>frame</key>
				<string>{{156,148},{154,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{154,48}</string>
			</dict>
			<key>type28.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,195},{153,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{153,48}</string>
			</dict>
			<key>type29.png</key>
			<dict>
				<key>frame</key>
				<string>{{427,384},{82,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{82,48}</string>
			</dict>
			<key>type3.png</key>
			<dict>
				<key>frame</key>
				<string>{{270,243},{88,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,46}</string>
			</dict>
			<key>type30.png</key>
			<dict>
				<key>frame</key>
				<string>{{343,382},{84,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,47}</string>
			</dict>
			<key>type31.png</key>
			<dict>
				<key>frame</key>
				<string>{{153,242},{117,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{117,49}</string>
			</dict>
			<key>type32.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,243},{86,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,49}</string>
			</dict>
			<key>type33.png</key>
			<dict>
				<key>frame</key>
				<string>{{260,335},{83,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{83,48}</string>
			</dict>
			<key>type34.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,340},{81,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{81,48}</string>
			</dict>
			<key>type35.png</key>
			<dict>
				<key>frame</key>
				<string>{{192,0},{190,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{190,48}</string>
			</dict>
			<key>type36.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,48},{190,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{190,48}</string>
			</dict>
			<key>type37.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{192,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{192,48}</string>
			</dict>
			<key>type38.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,388},{80,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,48}</string>
			</dict>
			<key>type39.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,147},{156,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,48}</string>
			</dict>
			<key>type4.png</key>
			<dict>
				<key>frame</key>
				<string>{{343,336},{86,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,46}</string>
			</dict>
			<key>type40.png</key>
			<dict>
				<key>frame</key>
				<string>{{161,98},{164,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{164,50}</string>
			</dict>
			<key>type41.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,96},{161,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{161,51}</string>
			</dict>
			<key>type42.png</key>
			<dict>
				<key>frame</key>
				<string>{{310,194},{122,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,49}</string>
			</dict>
			<key>type43.png</key>
			<dict>
				<key>frame</key>
				<string>{{325,146},{167,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{167,48}</string>
			</dict>
			<key>type44.png</key>
			<dict>
				<key>frame</key>
				<string>{{190,48},{170,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{170,50}</string>
			</dict>
			<key>type5.png</key>
			<dict>
				<key>frame</key>
				<string>{{83,337},{87,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,45}</string>
			</dict>
			<key>type7.png</key>
			<dict>
				<key>frame</key>
				<string>{{86,291},{87,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,46}</string>
			</dict>
			<key>type8.png</key>
			<dict>
				<key>frame</key>
				<string>{{170,337},{87,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,45}</string>
			</dict>
			<key>type9.png</key>
			<dict>
				<key>frame</key>
				<string>{{173,291},{87,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,46}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>CardType.png</string>
			<key>realTextureFileName</key>
			<string>CardType.png</string>
			<key>size</key>
			<string>{512,436}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>512</integer>
			<key>height</key>
			<integer>436</integer>
		</dict>
	</dict>
</plist>