<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1423,872},{143,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,201}}</string>
                <key>sourceSize</key>
                <string>{143,201}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1220,872},{143,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,201}}</string>
                <key>sourceSize</key>
                <string>{143,201}</string>
            </dict>
            <key>11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1017,872},{143,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,201}}</string>
                <key>sourceSize</key>
                <string>{143,201}</string>
            </dict>
            <key>12.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,872},{143,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,201}}</string>
                <key>sourceSize</key>
                <string>{143,201}</string>
            </dict>
            <key>13.png</key>
            <dict>
                <key>frame</key>
                <string>{{611,872},{143,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,201}}</string>
                <key>sourceSize</key>
                <string>{143,201}</string>
            </dict>
            <key>17.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,872},{143,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,201}}</string>
                <key>sourceSize</key>
                <string>{143,201}</string>
            </dict>
            <key>18.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,872},{143,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,201}}</string>
                <key>sourceSize</key>
                <string>{143,201}</string>
            </dict>
            <key>19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,855},{143,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,201}}</string>
                <key>sourceSize</key>
                <string>{143,201}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1423,727},{143,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,201}}</string>
                <key>sourceSize</key>
                <string>{143,201}</string>
            </dict>
            <key>20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1220,727},{143,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,201}}</string>
                <key>sourceSize</key>
                <string>{143,201}</string>
            </dict>
            <key>21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1017,727},{143,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,201}}</string>
                <key>sourceSize</key>
                <string>{143,201}</string>
            </dict>
            <key>22.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,727},{143,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,201}}</string>
                <key>sourceSize</key>
                <string>{143,201}</string>
            </dict>
            <key>23.png</key>
            <dict>
                <key>frame</key>
                <string>{{611,727},{143,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,201}}</string>
                <key>sourceSize</key>
                <string>{143,201}</string>
            </dict>
            <key>24.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,727},{143,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,201}}</string>
                <key>sourceSize</key>
                <string>{143,201}</string>
            </dict>
            <key>25.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,727},{143,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,201}}</string>
                <key>sourceSize</key>
                <string>{143,201}</string>
            </dict>
            <key>255.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,2},{126,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,171}}</string>
                <key>sourceSize</key>
                <string>{126,171}</string>
            </dict>
            <key>26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,710},{143,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,201}}</string>
                <key>sourceSize</key>
                <string>{143,201}</string>
            </dict>
            <key>27.png</key>
            <dict>
                <key>frame</key>
                <string>{{1423,582},{143,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,201}}</string>
                <key>sourceSize</key>
                <string>{143,201}</string>
            </dict>
            <key>28.png</key>
            <dict>
                <key>frame</key>
                <string>{{1220,582},{143,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,201}}</string>
                <key>sourceSize</key>
                <string>{143,201}</string>
            </dict>
            <key>29.png</key>
            <dict>
                <key>frame</key>
                <string>{{1017,582},{143,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,201}}</string>
                <key>sourceSize</key>
                <string>{143,201}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,582},{143,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,201}}</string>
                <key>sourceSize</key>
                <string>{143,201}</string>
            </dict>
            <key>33.png</key>
            <dict>
                <key>frame</key>
                <string>{{611,582},{143,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,201}}</string>
                <key>sourceSize</key>
                <string>{143,201}</string>
            </dict>
            <key>34.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,582},{143,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,201}}</string>
                <key>sourceSize</key>
                <string>{143,201}</string>
            </dict>
            <key>35.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,582},{143,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,201}}</string>
                <key>sourceSize</key>
                <string>{143,201}</string>
            </dict>
            <key>36.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,565},{143,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,201}}</string>
                <key>sourceSize</key>
                <string>{143,201}</string>
            </dict>
            <key>37.png</key>
            <dict>
                <key>frame</key>
                <string>{{1423,437},{143,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,201}}</string>
                <key>sourceSize</key>
                <string>{143,201}</string>
            </dict>
            <key>38.png</key>
            <dict>
                <key>frame</key>
                <string>{{1220,437},{143,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,201}}</string>
                <key>sourceSize</key>
                <string>{143,201}</string>
            </dict>
            <key>39.png</key>
            <dict>
                <key>frame</key>
                <string>{{1017,437},{143,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,201}}</string>
                <key>sourceSize</key>
                <string>{143,201}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,437},{143,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,201}}</string>
                <key>sourceSize</key>
                <string>{143,201}</string>
            </dict>
            <key>40.png</key>
            <dict>
                <key>frame</key>
                <string>{{611,437},{143,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,201}}</string>
                <key>sourceSize</key>
                <string>{143,201}</string>
            </dict>
            <key>41.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,437},{143,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,201}}</string>
                <key>sourceSize</key>
                <string>{143,201}</string>
            </dict>
            <key>42.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,437},{143,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,201}}</string>
                <key>sourceSize</key>
                <string>{143,201}</string>
            </dict>
            <key>43.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,420},{143,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,201}}</string>
                <key>sourceSize</key>
                <string>{143,201}</string>
            </dict>
            <key>44.png</key>
            <dict>
                <key>frame</key>
                <string>{{1423,292},{143,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,201}}</string>
                <key>sourceSize</key>
                <string>{143,201}</string>
            </dict>
            <key>45.png</key>
            <dict>
                <key>frame</key>
                <string>{{1220,292},{143,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,201}}</string>
                <key>sourceSize</key>
                <string>{143,201}</string>
            </dict>
            <key>49.png</key>
            <dict>
                <key>frame</key>
                <string>{{1017,292},{143,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,201}}</string>
                <key>sourceSize</key>
                <string>{143,201}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,292},{143,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,201}}</string>
                <key>sourceSize</key>
                <string>{143,201}</string>
            </dict>
            <key>50.png</key>
            <dict>
                <key>frame</key>
                <string>{{611,292},{143,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,201}}</string>
                <key>sourceSize</key>
                <string>{143,201}</string>
            </dict>
            <key>51.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,292},{143,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,201}}</string>
                <key>sourceSize</key>
                <string>{143,201}</string>
            </dict>
            <key>52.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,292},{143,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,201}}</string>
                <key>sourceSize</key>
                <string>{143,201}</string>
            </dict>
            <key>53.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,275},{143,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,201}}</string>
                <key>sourceSize</key>
                <string>{143,201}</string>
            </dict>
            <key>54.png</key>
            <dict>
                <key>frame</key>
                <string>{{1423,147},{143,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,201}}</string>
                <key>sourceSize</key>
                <string>{143,201}</string>
            </dict>
            <key>55.png</key>
            <dict>
                <key>frame</key>
                <string>{{1220,147},{143,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,201}}</string>
                <key>sourceSize</key>
                <string>{143,201}</string>
            </dict>
            <key>56.png</key>
            <dict>
                <key>frame</key>
                <string>{{1017,147},{143,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,201}}</string>
                <key>sourceSize</key>
                <string>{143,201}</string>
            </dict>
            <key>57.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,147},{143,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,201}}</string>
                <key>sourceSize</key>
                <string>{143,201}</string>
            </dict>
            <key>58.png</key>
            <dict>
                <key>frame</key>
                <string>{{611,147},{143,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,201}}</string>
                <key>sourceSize</key>
                <string>{143,201}</string>
            </dict>
            <key>59.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,147},{143,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,201}}</string>
                <key>sourceSize</key>
                <string>{143,201}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,147},{143,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,201}}</string>
                <key>sourceSize</key>
                <string>{143,201}</string>
            </dict>
            <key>60.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,130},{143,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,201}}</string>
                <key>sourceSize</key>
                <string>{143,201}</string>
            </dict>
            <key>61.png</key>
            <dict>
                <key>frame</key>
                <string>{{1282,2},{143,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,201}}</string>
                <key>sourceSize</key>
                <string>{143,201}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1079,2},{143,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,201}}</string>
                <key>sourceSize</key>
                <string>{143,201}</string>
            </dict>
            <key>78.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,2},{143,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,201}}</string>
                <key>sourceSize</key>
                <string>{143,201}</string>
            </dict>
            <key>79.png</key>
            <dict>
                <key>frame</key>
                <string>{{673,2},{143,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,201}}</string>
                <key>sourceSize</key>
                <string>{143,201}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,2},{143,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,201}}</string>
                <key>sourceSize</key>
                <string>{143,201}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,2},{143,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,201}}</string>
                <key>sourceSize</key>
                <string>{143,201}</string>
            </dict>
            <key>CardBanker.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{90,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,89}}</string>
                <key>sourceSize</key>
                <string>{90,89}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Card.png</string>
            <key>size</key>
            <string>{1626,1017}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1f4488663ea36f3aa9e69e005dfd2ea8$</string>
            <key>textureFileName</key>
            <string>Card.png</string>
        </dict>
    </dict>
</plist>
