<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BTxiayiju.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,344},{241,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,81}}</string>
                <key>sourceSize</key>
                <string>{241,81}</string>
            </dict>
            <key>BigLose.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{294,441}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{294,441}}</string>
                <key>sourceSize</key>
                <string>{294,441}</string>
            </dict>
            <key>BigWin.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{294,441}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{294,441}}</string>
                <key>sourceSize</key>
                <string>{294,441}</string>
            </dict>
            <key>BtHint.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,687},{208,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,80}}</string>
                <key>sourceSize</key>
                <string>{208,80}</string>
            </dict>
            <key>BtNoOut.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,605},{208,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,80}}</string>
                <key>sourceSize</key>
                <string>{208,80}</string>
            </dict>
            <key>BtNoRob.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,422},{173,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,88}}</string>
                <key>sourceSize</key>
                <string>{173,88}</string>
            </dict>
            <key>BtOutCard.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,523},{208,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,80}}</string>
                <key>sourceSize</key>
                <string>{208,80}</string>
            </dict>
            <key>BtRobBanker.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,407},{173,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,88}}</string>
                <key>sourceSize</key>
                <string>{173,88}</string>
            </dict>
            <key>CardNumBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,52},{41,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,55}}</string>
                <key>sourceSize</key>
                <string>{41,55}</string>
            </dict>
            <key>ClockBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,1954},{83,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,92}}</string>
                <key>sourceSize</key>
                <string>{83,92}</string>
            </dict>
            <key>HeadBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,1855},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>HeadBG2.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,1855},{76,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,112}}</string>
                <key>sourceSize</key>
                <string>{76,112}</string>
            </dict>
            <key>InfoBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,360},{89,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,45}}</string>
                <key>sourceSize</key>
                <string>{89,45}</string>
            </dict>
            <key>LittleTitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,769},{1268,38}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1268,38}}</string>
                <key>sourceSize</key>
                <string>{1270,38}</string>
            </dict>
            <key>NoQiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,226},{50,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,44}}</string>
                <key>sourceSize</key>
                <string>{50,44}</string>
            </dict>
            <key>PhoneInfoBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,427},{214,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,94}}</string>
                <key>sourceSize</key>
                <string>{214,94}</string>
            </dict>
            <key>State6.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,847},{87,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,44}}</string>
                <key>sourceSize</key>
                <string>{87,44}</string>
            </dict>
            <key>StateNoHave.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,298},{412,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{412,44}}</string>
                <key>sourceSize</key>
                <string>{412,44}</string>
            </dict>
            <key>StatePass.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,272},{86,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,47}}</string>
                <key>sourceSize</key>
                <string>{86,47}</string>
            </dict>
            <key>StateReady.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,1855},{80,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,97}}</string>
                <key>sourceSize</key>
                <string>{80,97}</string>
            </dict>
            <key>StateSelfNoHave.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,344},{174,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,76}}</string>
                <key>sourceSize</key>
                <string>{174,76}</string>
            </dict>
            <key>UserBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,1953},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,88}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>UserBanker.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,811},{45,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,34}}</string>
                <key>sourceSize</key>
                <string>{45,34}</string>
            </dict>
            <key>UserInfoBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,95},{129,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,50}}</string>
                <key>sourceSize</key>
                <string>{129,50}</string>
            </dict>
            <key>Warn.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,2},{48,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,58}}</string>
                <key>sourceSize</key>
                <string>{48,58}</string>
            </dict>
            <key>Winner.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,769},{145,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,87}}</string>
                <key>sourceSize</key>
                <string>{145,87}</string>
            </dict>
            <key>checkMask2.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,936},{34,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,33}}</string>
                <key>sourceSize</key>
                <string>{34,33}</string>
            </dict>
            <key>img_enditembg.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,692},{147,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,117}}</string>
                <key>sourceSize</key>
                <string>{147,117}</string>
            </dict>
            <key>img_jifen.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,647},{168,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,43}}</string>
                <key>sourceSize</key>
                <string>{168,43}</string>
            </dict>
            <key>img_mingcheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,602},{168,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,43}}</string>
                <key>sourceSize</key>
                <string>{168,43}</string>
            </dict>
            <key>img_shengpai.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,557},{168,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,43}}</string>
                <key>sourceSize</key>
                <string>{168,43}</string>
            </dict>
            <key>img_shu.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,811},{601,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{601,128}}</string>
                <key>sourceSize</key>
                <string>{601,128}</string>
            </dict>
            <key>img_ying.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,858},{599,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{599,124}}</string>
                <key>sourceSize</key>
                <string>{599,124}</string>
            </dict>
            <key>img_zhadan.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,512},{168,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,43}}</string>
                <key>sourceSize</key>
                <string>{168,43}</string>
            </dict>
            <key>littleBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,582},{1271,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1271,128}}</string>
                <key>sourceSize</key>
                <string>{1271,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Game60001.png</string>
            <key>size</key>
            <string>{512,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:25271d1770550ca1f129af95ad177e8d$</string>
            <key>textureFileName</key>
            <string>Game60001.png</string>
        </dict>
    </dict>
</plist>
