<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fenge.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{838,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{838,3}}</string>
                <key>sourceSize</key>
                <string>{838,3}</string>
            </dict>
            <key>jiesuandi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,7},{1280,532}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,532}}</string>
                <key>sourceSize</key>
                <string>{1280,532}</string>
            </dict>
            <key>ying.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,2},{1280,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,91}}</string>
                <key>sourceSize</key>
                <string>{1280,91}</string>
            </dict>
            <key>zongfendi.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,7},{273,417}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{273,417}}</string>
                <key>sourceSize</key>
                <string>{273,417}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>GameZMZEnd.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c8b217fc494488f2db31f051a2362267$</string>
            <key>textureFileName</key>
            <string>GameZMZEnd.png</string>
        </dict>
    </dict>
</plist>
