<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Mj1.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,412},{203,290}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,290}}</string>
                <key>sourceSize</key>
                <string>{203,290}</string>
            </dict>
            <key>Mj2.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,586},{203,290}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,290}}</string>
                <key>sourceSize</key>
                <string>{203,290}</string>
            </dict>
            <key>Mj21.png</key>
            <dict>
                <key>frame</key>
                <string>{{791,294},{203,290}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,290}}</string>
                <key>sourceSize</key>
                <string>{203,290}</string>
            </dict>
            <key>Mj255.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,207},{203,290}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,290}}</string>
                <key>sourceSize</key>
                <string>{203,290}</string>
            </dict>
            <key>Mj3.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,207},{203,290}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,290}}</string>
                <key>sourceSize</key>
                <string>{203,290}</string>
            </dict>
            <key>Mj4.png</key>
            <dict>
                <key>frame</key>
                <string>{{791,2},{203,290}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,290}}</string>
                <key>sourceSize</key>
                <string>{203,290}</string>
            </dict>
            <key>Mj5.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,2},{203,290}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,290}}</string>
                <key>sourceSize</key>
                <string>{203,290}</string>
            </dict>
            <key>Mj6.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,2},{203,290}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,290}}</string>
                <key>sourceSize</key>
                <string>{203,290}</string>
            </dict>
            <key>Mj7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,586},{203,290}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,290}}</string>
                <key>sourceSize</key>
                <string>{203,290}</string>
            </dict>
            <key>Mj8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,294},{203,290}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,290}}</string>
                <key>sourceSize</key>
                <string>{203,290}</string>
            </dict>
            <key>Mj9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{203,290}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,290}}</string>
                <key>sourceSize</key>
                <string>{203,290}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>BigCard.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:46e46adeb275c69a5f128c48393bda53$</string>
            <key>textureFileName</key>
            <string>BigCard.png</string>
        </dict>
    </dict>
</plist>
