<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0.png</key>
            <dict>
                <key>frame</key>
                <string>{{985,209},{26,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,34}}</string>
                <key>sourceSize</key>
                <string>{26,34}</string>
            </dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1005,68},{16,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,33}}</string>
                <key>sourceSize</key>
                <string>{16,33}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{985,237},{24,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,33}}</string>
                <key>sourceSize</key>
                <string>{24,33}</string>
            </dict>
            <key>BGAdd.png</key>
            <dict>
                <key>frame</key>
                <string>{{715,104},{118,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,44}}</string>
                <key>sourceSize</key>
                <string>{118,44}</string>
            </dict>
            <key>BGTimer.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,408},{101,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,107}}</string>
                <key>sourceSize</key>
                <string>{101,107}</string>
            </dict>
            <key>BGTimer2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,512},{101,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,148}}</string>
                <key>sourceSize</key>
                <string>{101,148}</string>
            </dict>
            <key>BGTrustee.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{757,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{757,100}}</string>
                <key>sourceSize</key>
                <string>{757,100}</string>
            </dict>
            <key>BGType.png</key>
            <dict>
                <key>frame</key>
                <string>{{761,2},{253,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,64}}</string>
                <key>sourceSize</key>
                <string>{253,64}</string>
            </dict>
            <key>BtAdd.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,433},{151,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,77}}</string>
                <key>sourceSize</key>
                <string>{151,77}</string>
            </dict>
            <key>BtBanker0.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,359},{154,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,67}}</string>
                <key>sourceSize</key>
                <string>{154,67}</string>
            </dict>
            <key>BtIsBanker.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,260},{170,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,76}}</string>
                <key>sourceSize</key>
                <string>{170,76}</string>
            </dict>
            <key>BtLookCard.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,233},{222,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,74}}</string>
                <key>sourceSize</key>
                <string>{222,74}</string>
            </dict>
            <key>BtNotBanker.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,233},{170,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,76}}</string>
                <key>sourceSize</key>
                <string>{170,76}</string>
            </dict>
            <key>BtOpenCard.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,309},{170,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,74}}</string>
                <key>sourceSize</key>
                <string>{170,74}</string>
            </dict>
            <key>BtReady.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,284},{222,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,74}}</string>
                <key>sourceSize</key>
                <string>{222,74}</string>
            </dict>
            <key>BtRob.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,182},{170,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,76}}</string>
                <key>sourceSize</key>
                <string>{170,76}</string>
            </dict>
            <key>BtShare.png</key>
            <dict>
                <key>frame</key>
                <string>{{761,206},{222,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,76}}</string>
                <key>sourceSize</key>
                <string>{222,76}</string>
            </dict>
            <key>Btout.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,428},{74,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,76}}</string>
                <key>sourceSize</key>
                <string>{74,76}</string>
            </dict>
            <key>Btquxiaotuogaun.png</key>
            <dict>
                <key>frame</key>
                <string>{{761,116},{228,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,88}}</string>
                <key>sourceSize</key>
                <string>{228,88}</string>
            </dict>
            <key>Btset.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,506},{74,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,75}}</string>
                <key>sourceSize</key>
                <string>{74,75}</string>
            </dict>
            <key>SpScore.png</key>
            <dict>
                <key>frame</key>
                <string>{{991,123},{30,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,31}}</string>
                <key>sourceSize</key>
                <string>{30,31}</string>
            </dict>
            <key>StateReady.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,416},{80,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,97}}</string>
                <key>sourceSize</key>
                <string>{80,97}</string>
            </dict>
            <key>StateX0.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,309},{96,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,50}}</string>
                <key>sourceSize</key>
                <string>{96,50}</string>
            </dict>
            <key>StateX1.png</key>
            <dict>
                <key>frame</key>
                <string>{{985,263},{32,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,30}}</string>
                <key>sourceSize</key>
                <string>{32,30}</string>
            </dict>
            <key>StateX10.png</key>
            <dict>
                <key>frame</key>
                <string>{{991,155},{52,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,30}}</string>
                <key>sourceSize</key>
                <string>{52,30}</string>
            </dict>
            <key>StateX2.png</key>
            <dict>
                <key>frame</key>
                <string>{{980,295},{39,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,30}}</string>
                <key>sourceSize</key>
                <string>{39,30}</string>
            </dict>
            <key>StateX3.png</key>
            <dict>
                <key>frame</key>
                <string>{{715,256},{39,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,30}}</string>
                <key>sourceSize</key>
                <string>{39,30}</string>
            </dict>
            <key>StateX4.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,360},{96,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,50}}</string>
                <key>sourceSize</key>
                <string>{96,50}</string>
            </dict>
            <key>StateX5.png</key>
            <dict>
                <key>frame</key>
                <string>{{980,402},{38,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,30}}</string>
                <key>sourceSize</key>
                <string>{38,30}</string>
            </dict>
            <key>StateX7.png</key>
            <dict>
                <key>frame</key>
                <string>{{715,224},{39,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,30}}</string>
                <key>sourceSize</key>
                <string>{39,30}</string>
            </dict>
            <key>UserInfoBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,377},{118,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,118}}</string>
                <key>sourceSize</key>
                <string>{118,118}</string>
            </dict>
            <key>UserInfoBG2.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,338},{76,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,122}}</string>
                <key>sourceSize</key>
                <string>{76,122}</string>
            </dict>
            <key>bt-cp.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,360},{170,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,74}}</string>
                <key>sourceSize</key>
                <string>{170,74}</string>
            </dict>
            <key>bt-tz.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,104},{170,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,76}}</string>
                <key>sourceSize</key>
                <string>{170,76}</string>
            </dict>
            <key>maidinglishou.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,104},{539,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{539,127}}</string>
                <key>sourceSize</key>
                <string>{539,127}</string>
            </dict>
            <key>spLookCard.png</key>
            <dict>
                <key>frame</key>
                <string>{{761,68},{242,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,46}}</string>
                <key>sourceSize</key>
                <string>{242,46}</string>
            </dict>
            <key>spSelCard.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,407},{123,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,47}}</string>
                <key>sourceSize</key>
                <string>{123,47}</string>
            </dict>
            <key>spWaitAdd.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,311},{162,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,46}}</string>
                <key>sourceSize</key>
                <string>{162,46}</string>
            </dict>
            <key>spWaitEnd.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,385},{163,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,46}}</string>
                <key>sourceSize</key>
                <string>{163,46}</string>
            </dict>
            <key>typeFinish.png</key>
            <dict>
                <key>frame</key>
                <string>{{980,434},{95,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,28}}</string>
                <key>sourceSize</key>
                <string>{95,28}</string>
            </dict>
            <key>typeJH1.png</key>
            <dict>
                <key>frame</key>
                <string>{{559,498},{84,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,46}}</string>
                <key>sourceSize</key>
                <string>{84,46}</string>
            </dict>
            <key>typeJH2.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,545},{86,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,45}}</string>
                <key>sourceSize</key>
                <string>{86,45}</string>
            </dict>
            <key>typeJH3.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,615},{86,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,46}}</string>
                <key>sourceSize</key>
                <string>{86,46}</string>
            </dict>
            <key>typeJH4.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,497},{87,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,46}}</string>
                <key>sourceSize</key>
                <string>{87,46}</string>
            </dict>
            <key>typeJH5.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,475},{87,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,46}}</string>
                <key>sourceSize</key>
                <string>{87,46}</string>
            </dict>
            <key>typeJH6.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,620},{85,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,45}}</string>
                <key>sourceSize</key>
                <string>{85,45}</string>
            </dict>
            <key>typePoint.png</key>
            <dict>
                <key>frame</key>
                <string>{{1005,103},{16,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,18}}</string>
                <key>sourceSize</key>
                <string>{16,18}</string>
            </dict>
            <key>typeSG1.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,532},{86,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,46}}</string>
                <key>sourceSize</key>
                <string>{86,46}</string>
            </dict>
            <key>typeSG10.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,545},{86,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,45}}</string>
                <key>sourceSize</key>
                <string>{86,45}</string>
            </dict>
            <key>typeSG11.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,329},{126,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,46}}</string>
                <key>sourceSize</key>
                <string>{126,46}</string>
            </dict>
            <key>typeSG12.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,281},{126,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,46}}</string>
                <key>sourceSize</key>
                <string>{126,46}</string>
            </dict>
            <key>typeSG13.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,233},{126,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,46}}</string>
                <key>sourceSize</key>
                <string>{126,46}</string>
            </dict>
            <key>typeSG14.png</key>
            <dict>
                <key>frame</key>
                <string>{{980,327},{73,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,38}}</string>
                <key>sourceSize</key>
                <string>{73,38}</string>
            </dict>
            <key>typeSG2.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,617},{85,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,45}}</string>
                <key>sourceSize</key>
                <string>{85,45}</string>
            </dict>
            <key>typeSG3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,662},{87,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,45}}</string>
                <key>sourceSize</key>
                <string>{87,45}</string>
            </dict>
            <key>typeSG4.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,428},{88,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,45}}</string>
                <key>sourceSize</key>
                <string>{88,45}</string>
            </dict>
            <key>typeSG5.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,498},{86,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,45}}</string>
                <key>sourceSize</key>
                <string>{86,45}</string>
            </dict>
            <key>typeSG6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,615},{87,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,45}}</string>
                <key>sourceSize</key>
                <string>{87,45}</string>
            </dict>
            <key>typeSG7.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,570},{87,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,45}}</string>
                <key>sourceSize</key>
                <string>{87,45}</string>
            </dict>
            <key>typeSG8.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,582},{85,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,45}}</string>
                <key>sourceSize</key>
                <string>{85,45}</string>
            </dict>
            <key>typeSG9.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,523},{87,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,45}}</string>
                <key>sourceSize</key>
                <string>{87,45}</string>
            </dict>
            <key>xxk.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,288},{118,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,56}}</string>
                <key>sourceSize</key>
                <string>{118,56}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Game50001.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:420d08648972478de5a5383168776504$</string>
            <key>textureFileName</key>
            <string>Game50001.png</string>
        </dict>
    </dict>
</plist>
