<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Btbuqiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,562},{186,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,78}}</string>
                <key>sourceSize</key>
                <string>{186,78}</string>
            </dict>
            <key>Btcuopai.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,242},{241,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,78}}</string>
                <key>sourceSize</key>
                <string>{241,78}</string>
            </dict>
            <key>Bterbei.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,482},{186,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,78}}</string>
                <key>sourceSize</key>
                <string>{186,78}</string>
            </dict>
            <key>Btliangpai.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,162},{241,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,78}}</string>
                <key>sourceSize</key>
                <string>{241,78}</string>
            </dict>
            <key>Btliaotian.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,700},{72,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,73}}</string>
                <key>sourceSize</key>
                <string>{72,73}</string>
            </dict>
            <key>Btsanbei.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,402},{186,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,78}}</string>
                <key>sourceSize</key>
                <string>{186,78}</string>
            </dict>
            <key>Btset.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,625},{72,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,73}}</string>
                <key>sourceSize</key>
                <string>{72,73}</string>
            </dict>
            <key>Btsibei.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,322},{186,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,78}}</string>
                <key>sourceSize</key>
                <string>{186,78}</string>
            </dict>
            <key>Btwanfa.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,550},{72,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,73}}</string>
                <key>sourceSize</key>
                <string>{72,73}</string>
            </dict>
            <key>BtyaoqingHY.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,82},{241,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,78}}</string>
                <key>sourceSize</key>
                <string>{241,78}</string>
            </dict>
            <key>Btyibei.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,813},{186,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,78}}</string>
                <key>sourceSize</key>
                <string>{186,78}</string>
            </dict>
            <key>Btyuyin.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,475},{72,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,73}}</string>
                <key>sourceSize</key>
                <string>{72,73}</string>
            </dict>
            <key>Btzhunbei.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,2},{241,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,78}}</string>
                <key>sourceSize</key>
                <string>{241,78}</string>
            </dict>
            <key>GPS.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,400},{72,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,73}}</string>
                <key>sourceSize</key>
                <string>{72,73}</string>
            </dict>
            <key>chouma16.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,748},{102,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,104}}</string>
                <key>sourceSize</key>
                <string>{102,104}</string>
            </dict>
            <key>chouma2.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,750},{102,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,104}}</string>
                <key>sourceSize</key>
                <string>{102,104}</string>
            </dict>
            <key>chouma32.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,642},{102,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,104}}</string>
                <key>sourceSize</key>
                <string>{102,104}</string>
            </dict>
            <key>chouma4.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,644},{102,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,104}}</string>
                <key>sourceSize</key>
                <string>{102,104}</string>
            </dict>
            <key>chouma64.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,919},{102,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,104}}</string>
                <key>sourceSize</key>
                <string>{102,104}</string>
            </dict>
            <key>chouma8.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,813},{102,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,104}}</string>
                <key>sourceSize</key>
                <string>{102,104}</string>
            </dict>
            <key>choumaquBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,2},{640,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,109}}</string>
                <key>sourceSize</key>
                <string>{640,109}</string>
            </dict>
            <key>icon-fang.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,775},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>icon-zhuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,770},{46,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,40}}</string>
                <key>sourceSize</key>
                <string>{46,40}</string>
            </dict>
            <key>qiangzhuangTitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,2},{809,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{809,60}}</string>
                <key>sourceSize</key>
                <string>{809,60}</string>
            </dict>
            <key>touxiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,322},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,76}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>wanjiaBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,644},{92,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,124}}</string>
                <key>sourceSize</key>
                <string>{92,124}</string>
            </dict>
            <key>xiazhuTitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{809,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{809,60}}</string>
                <key>sourceSize</key>
                <string>{809,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Game50001_new.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2a5c3a709cf2fb832cef88d5d1b865da$</string>
            <key>textureFileName</key>
            <string>Game50001_new.png</string>
        </dict>
    </dict>
</plist>
