<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>CardType1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,2},{145,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,50}}</string>
                <key>sourceSize</key>
                <string>{145,50}</string>
            </dict>
            <key>CardType1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,257},{145,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,48}}</string>
                <key>sourceSize</key>
                <string>{145,48}</string>
            </dict>
            <key>CardType1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,206},{193,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,49}}</string>
                <key>sourceSize</key>
                <string>{193,49}</string>
            </dict>
            <key>CardType1_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,344},{145,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,49}}</string>
                <key>sourceSize</key>
                <string>{145,49}</string>
            </dict>
            <key>CardType1_200.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{199,49}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,49}}</string>
                <key>sourceSize</key>
                <string>{201,49}</string>
            </dict>
            <key>CardType1_210.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,344},{150,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,49}}</string>
                <key>sourceSize</key>
                <string>{150,49}</string>
            </dict>
            <key>CardType1_211.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,344},{149,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,49}}</string>
                <key>sourceSize</key>
                <string>{149,49}</string>
            </dict>
            <key>CardType1_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,155},{193,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,49}}</string>
                <key>sourceSize</key>
                <string>{193,49}</string>
            </dict>
            <key>CardType1_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,257},{145,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,48}}</string>
                <key>sourceSize</key>
                <string>{145,48}</string>
            </dict>
            <key>CardType1_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,149},{193,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,49}}</string>
                <key>sourceSize</key>
                <string>{193,49}</string>
            </dict>
            <key>CardType1_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,200},{143,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,48}}</string>
                <key>sourceSize</key>
                <string>{143,48}</string>
            </dict>
            <key>CardType1_410.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,200},{196,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{196,49}}</string>
                <key>sourceSize</key>
                <string>{198,49}</string>
            </dict>
            <key>CardType1_411.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,2},{198,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,49}}</string>
                <key>sourceSize</key>
                <string>{198,49}</string>
            </dict>
            <key>CardType1_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,200},{191,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,49}}</string>
                <key>sourceSize</key>
                <string>{191,49}</string>
            </dict>
            <key>CardType1_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,443},{145,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,48}}</string>
                <key>sourceSize</key>
                <string>{145,48}</string>
            </dict>
            <key>CardType1_55.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,104},{193,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,49}}</string>
                <key>sourceSize</key>
                <string>{193,49}</string>
            </dict>
            <key>CardType1_60.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,393},{145,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,48}}</string>
                <key>sourceSize</key>
                <string>{145,48}</string>
            </dict>
            <key>CardType1_65.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,53},{193,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,49}}</string>
                <key>sourceSize</key>
                <string>{193,49}</string>
            </dict>
            <key>CardType1_70.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,344},{145,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,48}}</string>
                <key>sourceSize</key>
                <string>{145,48}</string>
            </dict>
            <key>CardType1_75.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,53},{193,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,49}}</string>
                <key>sourceSize</key>
                <string>{193,49}</string>
            </dict>
            <key>CardType1_80.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,344},{147,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,48}}</string>
                <key>sourceSize</key>
                <string>{147,48}</string>
            </dict>
            <key>CardType1_85.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,149},{195,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,49}}</string>
                <key>sourceSize</key>
                <string>{195,49}</string>
            </dict>
            <key>CardType1_90.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,344},{148,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,48}}</string>
                <key>sourceSize</key>
                <string>{148,48}</string>
            </dict>
            <key>CardType1_95.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,2},{196,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,49}}</string>
                <key>sourceSize</key>
                <string>{196,49}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Type1.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ea4b78589cb66c603589d64d19605604$</string>
            <key>textureFileName</key>
            <string>Type1.png</string>
        </dict>
    </dict>
</plist>
