<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BGUserInfo.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,972},{129,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,50}}</string>
                <key>sourceSize</key>
                <string>{129,50}</string>
            </dict>
            <key>Back.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,164},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>BankerAni.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,430},{229,385}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{229,385}}</string>
                <key>sourceSize</key>
                <string>{229,385}</string>
            </dict>
            <key>BankerCard.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,635},{59,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,28}}</string>
                <key>sourceSize</key>
                <string>{59,28}</string>
            </dict>
            <key>Bt1.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,530},{209,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,80}}</string>
                <key>sourceSize</key>
                <string>{209,80}</string>
            </dict>
            <key>Bt2.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,448},{209,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,80}}</string>
                <key>sourceSize</key>
                <string>{209,80}</string>
            </dict>
            <key>Bt3.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,366},{209,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,80}}</string>
                <key>sourceSize</key>
                <string>{209,80}</string>
            </dict>
            <key>BtBanker.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,301},{209,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,80}}</string>
                <key>sourceSize</key>
                <string>{209,80}</string>
            </dict>
            <key>BtChuai.png</key>
            <dict>
                <key>frame</key>
                <string>{{761,284},{209,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,80}}</string>
                <key>sourceSize</key>
                <string>{209,80}</string>
            </dict>
            <key>BtDouble.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,202},{209,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,80}}</string>
                <key>sourceSize</key>
                <string>{209,80}</string>
            </dict>
            <key>BtHint.png</key>
            <dict>
                <key>frame</key>
                <string>{{573,422},{209,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,80}}</string>
                <key>sourceSize</key>
                <string>{209,80}</string>
            </dict>
            <key>BtKcik.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,84},{209,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,80}}</string>
                <key>sourceSize</key>
                <string>{209,80}</string>
            </dict>
            <key>BtNoCall.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,2},{209,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,80}}</string>
                <key>sourceSize</key>
                <string>{209,80}</string>
            </dict>
            <key>BtNoChuai.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,783},{209,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,80}}</string>
                <key>sourceSize</key>
                <string>{209,80}</string>
            </dict>
            <key>BtNoDouble.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,424},{209,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,80}}</string>
                <key>sourceSize</key>
                <string>{209,80}</string>
            </dict>
            <key>BtNoHave.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,213},{209,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,80}}</string>
                <key>sourceSize</key>
                <string>{209,80}</string>
            </dict>
            <key>BtNoKick.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,2},{209,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,80}}</string>
                <key>sourceSize</key>
                <string>{209,80}</string>
            </dict>
            <key>BtNoOut.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,798},{209,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,80}}</string>
                <key>sourceSize</key>
                <string>{209,80}</string>
            </dict>
            <key>BtNoRob.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,424},{209,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,80}}</string>
                <key>sourceSize</key>
                <string>{209,80}</string>
            </dict>
            <key>BtOpenCard.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,817},{203,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,89}}</string>
                <key>sourceSize</key>
                <string>{203,89}</string>
            </dict>
            <key>BtOutCard.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,213},{209,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,80}}</string>
                <key>sourceSize</key>
                <string>{209,80}</string>
            </dict>
            <key>BtReChange.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,2},{209,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,80}}</string>
                <key>sourceSize</key>
                <string>{209,80}</string>
            </dict>
            <key>BtRobBanker.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,424},{209,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,80}}</string>
                <key>sourceSize</key>
                <string>{209,80}</string>
            </dict>
            <key>BtRules.png</key>
            <dict>
                <key>frame</key>
                <string>{{573,71},{86,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,91}}</string>
                <key>sourceSize</key>
                <string>{86,91}</string>
            </dict>
            <key>CardNumBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,682},{52,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,69}}</string>
                <key>sourceSize</key>
                <string>{52,69}</string>
            </dict>
            <key>ClockBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{685,222},{74,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,77}}</string>
                <key>sourceSize</key>
                <string>{74,77}</string>
            </dict>
            <key>EndCard.png</key>
            <dict>
                <key>frame</key>
                <string>{{545,297},{129,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,123}}</string>
                <key>sourceSize</key>
                <string>{129,123}</string>
            </dict>
            <key>EndInfoBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{295,426}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{295,426}}</string>
                <key>sourceSize</key>
                <string>{297,426}</string>
            </dict>
            <key>Farmer.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,635},{57,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,47}}</string>
                <key>sourceSize</key>
                <string>{57,47}</string>
            </dict>
            <key>FarmerCard.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,635},{60,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,29}}</string>
                <key>sourceSize</key>
                <string>{60,29}</string>
            </dict>
            <key>L2.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,213},{209,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,80}}</string>
                <key>sourceSize</key>
                <string>{209,80}</string>
            </dict>
            <key>L3.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,2},{209,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,80}}</string>
                <key>sourceSize</key>
                <string>{209,80}</string>
            </dict>
            <key>L4.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,805},{209,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,80}}</string>
                <key>sourceSize</key>
                <string>{209,80}</string>
            </dict>
            <key>LabBase.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,565},{76,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,52}}</string>
                <key>sourceSize</key>
                <string>{76,52}</string>
            </dict>
            <key>LabBombCnt.png</key>
            <dict>
                <key>frame</key>
                <string>{{981,112},{104,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,32}}</string>
                <key>sourceSize</key>
                <string>{104,32}</string>
            </dict>
            <key>LabEndScore.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,166},{76,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,32}}</string>
                <key>sourceSize</key>
                <string>{76,32}</string>
            </dict>
            <key>LabLoseCnt.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,692},{104,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,33}}</string>
                <key>sourceSize</key>
                <string>{104,33}</string>
            </dict>
            <key>LabMax.png</key>
            <dict>
                <key>frame</key>
                <string>{{875,112},{104,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,32}}</string>
                <key>sourceSize</key>
                <string>{104,32}</string>
            </dict>
            <key>LabMultiple.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,304},{79,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,48}}</string>
                <key>sourceSize</key>
                <string>{79,48}</string>
            </dict>
            <key>LabScore.png</key>
            <dict>
                <key>frame</key>
                <string>{{545,214},{81,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,36}}</string>
                <key>sourceSize</key>
                <string>{81,36}</string>
            </dict>
            <key>LabWin.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,817},{153,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,149}}</string>
                <key>sourceSize</key>
                <string>{153,149}</string>
            </dict>
            <key>LabWinCnt.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,692},{104,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,32}}</string>
                <key>sourceSize</key>
                <string>{104,32}</string>
            </dict>
            <key>NoLet.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,805},{209,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,80}}</string>
                <key>sourceSize</key>
                <string>{209,80}</string>
            </dict>
            <key>OutCardDi.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,430},{265,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,45}}</string>
                <key>sourceSize</key>
                <string>{265,45}</string>
            </dict>
            <key>ScoreDi.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,635},{101,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,55}}</string>
                <key>sourceSize</key>
                <string>{101,55}</string>
            </dict>
            <key>State1.png</key>
            <dict>
                <key>frame</key>
                <string>{{875,146},{100,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,54}}</string>
                <key>sourceSize</key>
                <string>{100,54}</string>
            </dict>
            <key>State2.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,166},{100,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,54}}</string>
                <key>sourceSize</key>
                <string>{100,54}</string>
            </dict>
            <key>State255.png</key>
            <dict>
                <key>frame</key>
                <string>{{969,485},{96,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,52}}</string>
                <key>sourceSize</key>
                <string>{96,52}</string>
            </dict>
            <key>State3.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,230},{100,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,54}}</string>
                <key>sourceSize</key>
                <string>{100,54}</string>
            </dict>
            <key>State4.png</key>
            <dict>
                <key>frame</key>
                <string>{{875,58},{144,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,52}}</string>
                <key>sourceSize</key>
                <string>{144,52}</string>
            </dict>
            <key>State5.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,635},{146,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,52}}</string>
                <key>sourceSize</key>
                <string>{146,52}</string>
            </dict>
            <key>State6.png</key>
            <dict>
                <key>frame</key>
                <string>{{969,385},{98,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,52}}</string>
                <key>sourceSize</key>
                <string>{98,52}</string>
            </dict>
            <key>StateDouble.png</key>
            <dict>
                <key>frame</key>
                <string>{{967,583},{97,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,54}}</string>
                <key>sourceSize</key>
                <string>{97,54}</string>
            </dict>
            <key>StateKick.png</key>
            <dict>
                <key>frame</key>
                <string>{{545,164},{42,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,48}}</string>
                <key>sourceSize</key>
                <string>{42,48}</string>
            </dict>
            <key>StateNoDouble.png</key>
            <dict>
                <key>frame</key>
                <string>{{875,2},{145,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,54}}</string>
                <key>sourceSize</key>
                <string>{145,54}</string>
            </dict>
            <key>StateNoHave.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,430},{265,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,45}}</string>
                <key>sourceSize</key>
                <string>{265,45}</string>
            </dict>
            <key>StateNoKick.png</key>
            <dict>
                <key>frame</key>
                <string>{{973,218},{84,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,48}}</string>
                <key>sourceSize</key>
                <string>{84,48}</string>
            </dict>
            <key>StatePass.png</key>
            <dict>
                <key>frame</key>
                <string>{{655,512},{99,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,51}}</string>
                <key>sourceSize</key>
                <string>{99,51}</string>
            </dict>
            <key>StateReady.png</key>
            <dict>
                <key>frame</key>
                <string>{{573,2},{67,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,89}}</string>
                <key>sourceSize</key>
                <string>{67,89}</string>
            </dict>
            <key>StateSelfNoHave.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,817},{183,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,61}}</string>
                <key>sourceSize</key>
                <string>{183,61}</string>
            </dict>
            <key>UserBanker.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,972},{49,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,47}}</string>
                <key>sourceSize</key>
                <string>{49,47}</string>
            </dict>
            <key>paidi.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,697},{236,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,106}}</string>
                <key>sourceSize</key>
                <string>{236,106}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Game40107.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:987cbe98dc7f3d0ca465c731f0325801$</string>
            <key>textureFileName</key>
            <string>Game40107.png</string>
        </dict>
    </dict>
</plist>
