<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BGScore.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,819},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>BtAdd.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,685},{169,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,73}}</string>
                <key>sourceSize</key>
                <string>{169,73}</string>
            </dict>
            <key>BtCCompare.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,618},{121,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,52}}</string>
                <key>sourceSize</key>
                <string>{121,52}</string>
            </dict>
            <key>BtCompare.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,547},{169,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,73}}</string>
                <key>sourceSize</key>
                <string>{169,73}</string>
            </dict>
            <key>BtDefult.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,547},{169,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,73}}</string>
                <key>sourceSize</key>
                <string>{169,73}</string>
            </dict>
            <key>BtFollow.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,472},{169,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,73}}</string>
                <key>sourceSize</key>
                <string>{169,73}</string>
            </dict>
            <key>BtGiveUp.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,472},{169,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,73}}</string>
                <key>sourceSize</key>
                <string>{169,73}</string>
            </dict>
            <key>BtLook.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,397},{169,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,73}}</string>
                <key>sourceSize</key>
                <string>{169,73}</string>
            </dict>
            <key>BtOpenCard.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,424},{165,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,61}}</string>
                <key>sourceSize</key>
                <string>{165,61}</string>
            </dict>
            <key>BtReturn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,397},{169,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,73}}</string>
                <key>sourceSize</key>
                <string>{169,73}</string>
            </dict>
            <key>BtSure.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,78},{169,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,73}}</string>
                <key>sourceSize</key>
                <string>{169,73}</string>
            </dict>
            <key>Cards.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,856},{97,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,100}}</string>
                <key>sourceSize</key>
                <string>{97,100}</string>
            </dict>
            <key>ComWin.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,487},{129,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,143}}</string>
                <key>sourceSize</key>
                <string>{129,143}</string>
            </dict>
            <key>EndBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,171},{343,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{343,224}}</string>
                <key>sourceSize</key>
                <string>{343,224}</string>
            </dict>
            <key>HeadTimer.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,278},{144,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,144}}</string>
                <key>sourceSize</key>
                <string>{144,144}</string>
            </dict>
            <key>LabAllScore.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,2},{82,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,38}}</string>
                <key>sourceSize</key>
                <string>{82,38}</string>
            </dict>
            <key>LabLostCnt.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,752},{65,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,27}}</string>
                <key>sourceSize</key>
                <string>{65,27}</string>
            </dict>
            <key>LabMaxScore.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,752},{65,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,27}}</string>
                <key>sourceSize</key>
                <string>{65,27}</string>
            </dict>
            <key>LabMinScore.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,171},{66,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,27}}</string>
                <key>sourceSize</key>
                <string>{66,27}</string>
            </dict>
            <key>LabWinCnt.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,249},{65,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,27}}</string>
                <key>sourceSize</key>
                <string>{65,27}</string>
            </dict>
            <key>SpScore.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,249},{24,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,26}}</string>
                <key>sourceSize</key>
                <string>{24,26}</string>
            </dict>
            <key>StateBanker.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,958},{37,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,37}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>Type0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,622},{59,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,32}}</string>
                <key>sourceSize</key>
                <string>{59,32}</string>
            </dict>
            <key>Type1.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,618},{65,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,37}}</string>
                <key>sourceSize</key>
                <string>{65,37}</string>
            </dict>
            <key>Type2.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,685},{65,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,36}}</string>
                <key>sourceSize</key>
                <string>{65,36}</string>
            </dict>
            <key>Type3.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,239},{65,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,37}}</string>
                <key>sourceSize</key>
                <string>{65,37}</string>
            </dict>
            <key>Type4.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,958},{65,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,36}}</string>
                <key>sourceSize</key>
                <string>{65,36}</string>
            </dict>
            <key>Type5.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,200},{65,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,37}}</string>
                <key>sourceSize</key>
                <string>{65,37}</string>
            </dict>
            <key>Type6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,958},{64,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,36}}</string>
                <key>sourceSize</key>
                <string>{64,36}</string>
            </dict>
            <key>Type7.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,42},{74,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{74,34}}</string>
                <key>sourceSize</key>
                <string>{78,36}</string>
            </dict>
            <key>UserInfoBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,622},{110,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,57}}</string>
                <key>sourceSize</key>
                <string>{110,57}</string>
            </dict>
            <key>zjhBG1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{412,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{412,167}}</string>
                <key>sourceSize</key>
                <string>{412,167}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Game6.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8f850e2da5345841503426d71713e067$</string>
            <key>textureFileName</key>
            <string>Game6.png</string>
        </dict>
    </dict>
</plist>
