<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>buda.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,161},{222,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,75}}</string>
                <key>sourceSize</key>
                <string>{222,75}</string>
            </dict>
            <key>bupiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,2},{231,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,79}}</string>
                <key>sourceSize</key>
                <string>{231,79}</string>
            </dict>
            <key>datouzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,161},{222,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,75}}</string>
                <key>sourceSize</key>
                <string>{222,75}</string>
            </dict>
            <key>heng.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,393},{148,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,78}}</string>
                <key>sourceSize</key>
                <string>{148,78}</string>
            </dict>
            <key>huangse.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,314},{151,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,77}}</string>
                <key>sourceSize</key>
                <string>{151,77}</string>
            </dict>
            <key>jiafendi.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,418},{103,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,33}}</string>
                <key>sourceSize</key>
                <string>{103,33}</string>
            </dict>
            <key>jiangchi.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,157},{215,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,39}}</string>
                <key>sourceSize</key>
                <string>{215,39}</string>
            </dict>
            <key>jifen.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,314},{84,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,28}}</string>
                <key>sourceSize</key>
                <string>{84,28}</string>
            </dict>
            <key>kaishi.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,238},{222,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,74}}</string>
                <key>sourceSize</key>
                <string>{222,74}</string>
            </dict>
            <key>liaotian.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,547},{74,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,75}}</string>
                <key>sourceSize</key>
                <string>{74,75}</string>
            </dict>
            <key>lvse.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,374},{150,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,78}}</string>
                <key>sourceSize</key>
                <string>{150,78}</string>
            </dict>
            <key>ok.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,473},{72,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,87}}</string>
                <key>sourceSize</key>
                <string>{72,87}</string>
            </dict>
            <key>paixingdi.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,2},{153,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,40}}</string>
                <key>sourceSize</key>
                <string>{153,40}</string>
            </dict>
            <key>piaopai.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{231,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,79}}</string>
                <key>sourceSize</key>
                <string>{231,79}</string>
            </dict>
            <key>qipai.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,454},{145,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,74}}</string>
                <key>sourceSize</key>
                <string>{145,74}</string>
            </dict>
            <key>qipaida.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,83},{222,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,76}}</string>
                <key>sourceSize</key>
                <string>{222,76}</string>
            </dict>
            <key>shezhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,525},{74,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,75}}</string>
                <key>sourceSize</key>
                <string>{74,75}</string>
            </dict>
            <key>shu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,447},{76,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,122}}</string>
                <key>sourceSize</key>
                <string>{76,122}</string>
            </dict>
            <key>tuichu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,525},{74,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,76}}</string>
                <key>sourceSize</key>
                <string>{74,76}</string>
            </dict>
            <key>xiazhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,418},{130,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,27}}</string>
                <key>sourceSize</key>
                <string>{130,27}</string>
            </dict>
            <key>yaoqing.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,83},{222,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,76}}</string>
                <key>sourceSize</key>
                <string>{222,76}</string>
            </dict>
            <key>yuyin.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,473},{74,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,77}}</string>
                <key>sourceSize</key>
                <string>{74,77}</string>
            </dict>
            <key>zhunbei.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,238},{222,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,74}}</string>
                <key>sourceSize</key>
                <string>{222,74}</string>
            </dict>
            <key>ziji.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,314},{200,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,102}}</string>
                <key>sourceSize</key>
                <string>{200,102}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Game10020.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:534ee5db854f65b33b3e1657085a9745$</string>
            <key>textureFileName</key>
            <string>Game10020.png</string>
        </dict>
    </dict>
</plist>
